# Time Series Feature

In [1]:
import os 
import datetime

In [2]:
%matplotlib inline 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
plt.style.use('seaborn') 
plt.rc('font', family='Malgun Gothic')
plt.rc('axes', unicode_minus=False)

## Data Load

In [ ]:
sale = pd.read_excel(os.path.join('..', '0.Data', '01_제공데이터', 'sale_data_v03_0820.xlsx'))
meta = pd.read_excel(os.path.join('..', '0.Data', '01_제공데이터', 'sale_meta_v03_0820.xlsx'))
item = pd.read_excel(os.path.join('..', '0.Data', '01_제공데이터', 'item_meta_v02_0820.xlsx'))

In [6]:
sale.shape, meta.shape, item.shape

((38309, 15), (2042, 14), (1364, 2))

In [44]:
sale.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,NEW상품코드,NEW상품명,결제방법,단위,브랜드,옵션,종류
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,865.0,테이트 남성 셀린니트 3종,0.0,3종,테이트,NaN,0
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,866.0,테이트 여성 셀린니트 3종,0.0,3종,테이트,NaN,0
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,865.0,테이트 남성 셀린니트 3종,0.0,3종,테이트,NaN,0
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,866.0,테이트 여성 셀린니트 3종,0.0,3종,테이트,NaN,0
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,865.0,테이트 남성 셀린니트 3종,0.0,3종,테이트,NaN,0

In [7]:
sale.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,NEW상품코드,NEW상품명,결제방법,단위,브랜드,옵션,종류
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,865.0,테이트 남성 셀린니트 3종,0.0,3종,테이트,NaN,0
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,866.0,테이트 여성 셀린니트 3종,0.0,3종,테이트,NaN,0
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,865.0,테이트 남성 셀린니트 3종,0.0,3종,테이트,NaN,0
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,866.0,테이트 여성 셀린니트 3종,0.0,3종,테이트,NaN,0
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,865.0,테이트 남성 셀린니트 3종,0.0,3종,테이트,NaN,0

In [45]:
def product_timelag(df) :
    df["동일상품시간차"] = df.groupby(["NEW상품명"])["방송일시"].diff()
    return df

In [47]:
product_timelag(sale)

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,NEW상품코드,NEW상품명,결제방법,단위,브랜드,옵션,종류,동일상품시간차
0,2019-01-01 06:00:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,865.0,테이트 남성 셀린니트 3종,0.0,3종,테이트,NaN,0,NaT
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,866.0,테이트 여성 셀린니트 3종,0.0,3종,테이트,NaN,0,NaT
2,2019-01-01 06:20:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,865.0,테이트 남성 셀린니트 3종,0.0,3종,테이트,NaN,0,00:20:00
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,866.0,테이트 여성 셀린니트 3종,0.0,3종,테이트,NaN,0,00:20:00
4,2019-01-01 06:40:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,865.0,테이트 남성 셀린니트 3종,0.0,3종,테이트,NaN,0,00:20:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38304,2020-01-01 00:20:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
38305,2020-01-01 00:40:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
38306,2020-01-01 01:00:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
38307,2020-01-01 01:20:00,20.000000,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
38308,2020-01-01 01:40:00,17.166667,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

### 2. 동일 상품 / 브랜드 총 판매횟수
* NEW상품명 기준

In [48]:
def sales_count(df) : 
    df["상품총판매횟수"] = df.groupby(["NEW상품명"])["방송일시"].transform('size')
    df["브랜드총판매횟수"] = df.groupby(["브랜드"])["방송일시"].transform('size')
    return df

In [49]:
sales_count(sale)

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,NEW상품코드,NEW상품명,결제방법,단위,브랜드,옵션,종류,동일상품시간차,상품총판매횟수,브랜드총판매횟수
0,2019-01-01 06:00:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,865.0,테이트 남성 셀린니트 3종,0.0,3종,테이트,NaN,0,NaT,5.0,121.0
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,866.0,테이트 여성 셀린니트 3종,0.0,3종,테이트,NaN,0,NaT,5.0,121.0
2,2019-01-01 06:20:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,865.0,테이트 남성 셀린니트 3종,0.0,3종,테이트,NaN,0,00:20:00,5.0,121.0
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,866.0,테이트 여성 셀린니트 3종,0.0,3종,테이트,NaN,0,00:20:00,5.0,121.0
4,2019-01-01 06:40:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,865.0,테이트 남성 셀린니트 3종,0.0,3종,테이트,NaN,0,00:20:00,5.0,121.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38304,2020-01-01 00:20:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
38305,2020-01-01 00:40:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
38306,2020-01-01 01:00:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
38307,2020-01-01 01:20:00,20.000000,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
38308,2020-01-01 01:40:00,17.166667,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

### 3. 동일 상품 / 브랜드 총 방송횟수 
* 판매횟수만 따지기 위해서는 원래 데이터를 봐야 하고, 
* 방송횟수를 따지기 위해서는 원래 데이터에서 '노출(분)' NaN값을 drop한 dataframe을 봐야 함 !

In [50]:
df = sale.dropna(subset = ["노출(분)"]) # 21525 rows

In [51]:
df.shape

(21525, 18)

In [52]:
df.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,NEW상품코드,NEW상품명,결제방법,단위,브랜드,옵션,종류,동일상품시간차,상품총판매횟수,브랜드총판매횟수
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,865.0,테이트 남성 셀린니트 3종,0.0,3종,테이트,NaN,0,NaT,5.0,121.0
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,865.0,테이트 남성 셀린니트 3종,0.0,3종,테이트,NaN,0,00:20:00,5.0,121.0
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,865.0,테이트 남성 셀린니트 3종,0.0,3종,테이트,NaN,0,00:20:00,5.0,121.0
6,2019-01-01 07:00:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,6819000.0,632.0,오모떼 여성 레이스 파운데이션 브라,0.0,NaN,오모떼,NaN,4,NaT,12.0,272.0
7,2019-01-01 07:20:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,15689000.0,632.0,오모떼 여성 레이스 파운데이션 브라,0.0,NaN,오모떼,NaN,4,00:20:00,12.0,272.0

In [53]:
sale.shape

(38309, 18)

In [57]:
def broadcast_count(df) : 
    onair = df.dropna(subset = ["노출(분)"]) # 21525 rows

    onair["상품총방송횟수"] = onair.groupby(["NEW상품명"])["방송일시"].transform('size')
    onair["브랜드총방송횟수"] = onair.groupby(["브랜드"])["방송일시"].transform('size')

    final = pd.merge(df, onair[["브랜드", '브랜드총방송횟수']].drop_duplicates(), on = "브랜드", how="left")

    return final

In [58]:
broadcast_count(sale)

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,NEW상품코드,NEW상품명,결제방법,단위,브랜드,옵션,종류,동일상품시간차,상품총판매횟수,브랜드총판매횟수,브랜드총방송횟수
0,2019-01-01 06:00:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,865.0,테이트 남성 셀린니트 3종,0.0,3종,테이트,NaN,0,NaT,5.0,121.0,62.0
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,866.0,테이트 여성 셀린니트 3종,0.0,3종,테이트,NaN,0,NaT,5.0,121.0,62.0
2,2019-01-01 06:20:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,865.0,테이트 남성 셀린니트 3종,0.0,3종,테이트,NaN,0,00:20:00,5.0,121.0,62.0
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,866.0,테이트 여성 셀린니트 3종,0.0,3종,테이트,NaN,0,00:20:00,5.0,121.0,62.0
4,2019-01-01 06:40:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,865.0,테이트 남성 셀린니트 3종,0.0,3종,테이트,NaN,0,00:20:00,5.0,121.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38304,2020-01-01 00:20:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
38305,2020-01-01 00:40:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
38306,2020-01-01 01:00:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
38307,2020-01-01 01:20:00,20.000000,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
38308,2020-01-01 01:40:00,17.166667,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [8]:
sale.loc[sale["취급액"].isna()].shape

(2930, 15)

In [11]:
sale["취급액"] = sale["취급액"].fillna(0)
sale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38309 entries, 0 to 38308
Data columns (total 15 columns):
방송일시       38309 non-null datetime64[ns]
노출(분)      21525 non-null float64
마더코드       38309 non-null int64
상품코드       38309 non-null int64
상품명        38309 non-null object
상품군        38309 non-null object
판매단가       38309 non-null int64
취급액        38309 non-null float64
NEW상품코드    37372 non-null float64
NEW상품명     37372 non-null object
결제방법       37372 non-null float64
단위         22390 non-null object
브랜드        33066 non-null object
옵션         4140 non-null object
종류         22744 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 4.4+ MB

### 1. 동일 상품 별 시간 간격
* NEW상품명 기준

### 1. 카테고리 별 시간 간격