In [1]:
import tensorflow as tf

In [2]:
import pandas as pd
import numpy as np

## Data load

In [3]:
import joblib
data = joblib.load('./5th_FE_ver4.pkl')

In [4]:
locals().update(data)

In [5]:
X = data['X']
y =data['y']

In [6]:
X.head()

,노출(분),판매단가,방송시간차,상품방송횟수,브랜드방송횟수,조기매진,isHoliday,방송월,방송일,평일여부,...,성별_0,성별_1,성별_2,상품군_가격대_0.0,상품군_가격대_1.0,상품군_가격대_2.0,전체_가격대_고가,전체_가격대_저가,전체_가격대_중저가,전체_가격대_초고가
0,20.0,39900,0.0,2.0,21.0,0,1,1,1,0,...,0,1,0,1,0,0,0,1,0,0
1,20.0,39900,0.0,2.0,21.0,0,1,1,1,0,...,0,0,1,1,0,0,0,1,0,0
2,20.0,39900,0.0,2.0,21.0,0,1,1,1,0,...,0,1,0,1,0,0,0,1,0,0
3,20.0,39900,0.0,2.0,21.0,0,1,1,1,0,...,0,0,1,1,0,0,0,1,0,0
4,20.0,39900,0.0,2.0,21.0,0,1,1,1,0,...,0,1,0,1,0,0,0,1,0,0

In [7]:
gnt = ['판매단가','방송월','방송일','상품군별월별평균판매량','상품군별시간대별평균판매량','상품군별시간분별평균판매량','할인율','상품군_zscore','상품군&브랜드_zscore','마더코드_zscore','NEW_zscore',\
'pca_1',\
'pca_2',\
'강수량(mm)_서울',\
'기온(°C)_서울',\
'습도(%)_서울',\
'시정(10m)_서울',\
'지면온도(°C)_서울',\
'체감온도_서울',\
'풍속(m/s)_서울',\
'최고PM10_서울',
'상품군_가구',\
'상품군_가전',\
'상품군_건강기능',\
'상품군_농수축',\
'상품군_생활용품',\
'상품군_속옷',\
'상품군_의류',\
'상품군_이미용',\
'상품군_잡화',\
'상품군_주방',\
'상품군_침구']

In [8]:
column_list =[]
for col in X.columns:
    column_list.append(col)

In [9]:
emb_list = ['v'+str(j) for j in range(0,90)]
for i in emb_list:
  column_list.remove(i)

In [10]:
column_list =[]
for col in X.columns:
  if col in gnt:
    column_list.append(col)

In [11]:
num_list = column_list

In [12]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler
X_c = X.copy()
scaler = MinMaxScaler()
X_c = scaler.fit_transform(X_c)
X = pd.DataFrame(X_c, columns=X.columns, index=list(X.index.values))

In [13]:
column_list

['판매단가',
 '방송월',
 '방송일',
 '상품군별월별평균판매량',
 '상품군별시간대별평균판매량',
 '상품군별시간분별평균판매량',
 '할인율',
 '상품군_zscore',
 '마더코드_zscore',
 'NEW_zscore',
 'pca_1',
 'pca_2',
 '강수량(mm)_서울',
 '기온(°C)_서울',
 '습도(%)_서울',
 '시정(10m)_서울',
 '지면온도(°C)_서울',
 '체감온도_서울',
 '풍속(m/s)_서울',
 '최고PM10_서울',
 '상품군_가구',
 '상품군_가전',
 '상품군_건강기능',
 '상품군_농수축',
 '상품군_생활용품',
 '상품군_속옷',
 '상품군_의류',
 '상품군_이미용',
 '상품군_잡화',
 '상품군_주방',
 '상품군_침구']

In [14]:
len(column_list)

31

In [15]:
X_emb = X[emb_list]
X_num = X[num_list]

In [16]:
X_num = X_num.fillna(0)

In [17]:
#X = pd.read_excel("0906_notD.xlsx")

In [18]:
X_num.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35379 entries, 0 to 38303
Data columns (total 31 columns):
판매단가             35379 non-null float64
방송월              35379 non-null float64
방송일              35379 non-null float64
상품군별월별평균판매량      35379 non-null float64
상품군별시간대별평균판매량    35379 non-null float64
상품군별시간분별평균판매량    35379 non-null float64
할인율              35379 non-null float64
상품군_zscore       35379 non-null float64
마더코드_zscore      35379 non-null float64
NEW_zscore       35379 non-null float64
pca_1            35379 non-null float64
pca_2            35379 non-null float64
강수량(mm)_서울       35379 non-null float64
기온(°C)_서울        35379 non-null float64
습도(%)_서울         35379 non-null float64
시정(10m)_서울       35379 non-null float64
지면온도(°C)_서울      35379 non-null float64
체감온도_서울          35379 non-null float64
풍속(m/s)_서울       35379 non-null float64
최고PM10_서울        35379 non-null float64
상품군_가구           35379 non-null float64
상품군_가전           35379 non-null float64
상품군_건강기능         35379 non-null float64
상품군_농수축          35379 non-null float64
상품군_생활용품         35379 non-null float64
상품군_속옷           35379 non-null float64
상품군_의류           35379 non-null float64
상품군_이미용          35379 non-null float64
상품군_잡화           35379 non-null float64
상품군_주방           35379 non-null float64
상품군_침구           35379 non-null float64
dtypes: float64(31)
memory usage: 8.6 MB

In [19]:
X_emb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35379 entries, 0 to 38303
Data columns (total 90 columns):
v0     35379 non-null float64
v1     35379 non-null float64
v2     35379 non-null float64
v3     35379 non-null float64
v4     35379 non-null float64
v5     35379 non-null float64
v6     35379 non-null float64
v7     35379 non-null float64
v8     35379 non-null float64
v9     35379 non-null float64
v10    35379 non-null float64
v11    35379 non-null float64
v12    35379 non-null float64
v13    35379 non-null float64
v14    35379 non-null float64
v15    35379 non-null float64
v16    35379 non-null float64
v17    35379 non-null float64
v18    35379 non-null float64
v19    35379 non-null float64
v20    35379 non-null float64
v21    35379 non-null float64
v22    35379 non-null float64
v23    35379 non-null float64
v24    35379 non-null float64
v25    35379 non-null float64
v26    35379 non-null float64
v27    35379 non-null float64
v28    35379 non-null float64
v29    35379 non-null float64
v30    35379 non-null float64
v31    35379 non-null float64
v32    35379 non-null float64
v33    35379 non-null float64
v34    35379 non-null float64
v35    35379 non-null float64
v36    35379 non-null float64
v37    35379 non-null float64
v38    35379 non-null float64
v39    35379 non-null float64
v40    35379 non-null float64
v41    35379 non-null float64
v42    35379 non-null float64
v43    35379 non-null float64
v44    35379 non-null float64
v45    35379 non-null float64
v46    35379 non-null float64
v47    35379 non-null float64
v48    35379 non-null float64
v49    35379 non-null float64
v50    35379 non-null float64
v51    35379 non-null float64
v52    35379 non-null float64
v53    35379 non-null float64
v54    35379 non-null float64
v55    35379 non-null float64
v56    35379 non-null float64
v57    35379 non-null float64
v58    35379 non-null float64
v59    35379 non-null float64
v60    35379 non-null float64
v61    35379 non-null float64
v62    35379 non-null float64
v63    35379 non-null float64
v64    35379 non-null float64
v65    35379 non-null float64
v66    35379 non-null float64
v67    35379 non-null float64
v68    35379 non-null float64
v69    35379 non-null float64
v70    35379 non-null float64
v71    35379 non-null float64
v72    35379 non-null float64
v73    35379 non-null float64
v74    35379 non-null float64
v75    35379 non-null float64
v76    35379 non-null float64
v77    35379 non-null float64
v78    35379 non-null float64
v79    35379 non-null float64
v80    35379 non-null float64
v81    35379 non-null float64
v82    35379 non-null float64
v83    35379 non-null float64
v84    35379 non-null float64
v85    35379 non-null float64
v86    35379 non-null float64
v87    35379 non-null float64
v88    35379 non-null float64
v89    35379 non-null float64
dtypes: float64(90)
memory usage: 24.6 MB

## Modeling

In [20]:
# import the necessary packages
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import BatchNormalization
from tensorflow.keras.layers import Conv2D, Conv1D
from tensorflow.keras.layers import MaxPooling2D, GlobalMaxPooling1D, GlobalAveragePooling1D
from tensorflow.keras.layers import Activation
from tensorflow.keras.layers import Dropout
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Flatten
from tensorflow.keras.layers import Input
from tensorflow.keras.layers import LSTM,Bidirectional
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam, RMSprop
from tensorflow.keras.layers import concatenate

In [21]:
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint, ReduceLROnPlateau

reduceLR = ReduceLROnPlateau( 
    monitor='loss',  # 모니터 기준 설정 val_loss? val_acc?
    factor=0.5,          # callback 호출시 학습률을 1/2로 줄인다
    patience=6,         # epoch 10 동안 개선되지 않으면 callback이 호출
)

earlystopping = EarlyStopping(monitor='loss',  # 모니터 기준 설정 (val_loss) 
                              patience=15,         # 15회 Epoch동안 개선되지 않는다면 종료
                             )
"""
filename = 'checkpoint-epoch-{}-batch-{}-trial-001.h5'.format(EPOCH, BATCH_SIZE)
checkpoint = ModelCheckpoint(filename,             # file명을 지정합니다
                             monitor='val_loss',   # val_loss 값이 개선되었을때 호출됩니다
                             verbose=1,            # 로그를 출력합니다
                             save_best_only=True,  # 가장 best 값만 저장합니다
                             mode='auto'           # auto는 알아서 best를 찾습니다. min/max
                            )
                            """

"\nfilename = 'checkpoint-epoch-{}-batch-{}-trial-001.h5'.format(EPOCH, BATCH_SIZE)\ncheckpoint = ModelCheckpoint(filename,             # file명을 지정합니다\n                             monitor='val_loss',   # val_loss 값이 개선되었을때 호출됩니다\n                             verbose=1,            # 로그를 출력합니다\n                             save_best_only=True,  # 가장 best 값만 저장합니다\n                             mode='auto'           # auto는 알아서 best를 찾습니다. min/max\n                            )\n                            "

## Multi input model

In [43]:

#define loss 

def mean_absolute_percentage_error_ours(y_true, y_pred):
    return tf.reduce_mean(tf.math.abs((tf.math.exp(y_true) - tf.math.exp(y_pred)) / tf.math.exp(y_true)))* 100

def mean_absolute_percentage_error(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [44]:

def create_mlp(dim, regress=False):
	# define our MLP network
    model = Sequential()
    model.add(Dense(512, input_dim=dim, activation ='relu', kernel_initializer='he_normal'))
    model.add(BatchNormalization())
    model.add(Dropout(0.3))
    model.add(Dense(256, activation ='relu', kernel_initializer='he_normal'))
    model.add(BatchNormalization())
    model.add(Dropout(0.3))
    model.add(Dense(128, activation ='relu', kernel_initializer='he_normal'))
    model.add(BatchNormalization())
    model.add(Dropout(0.3))
    model.add(Dense(64, activation ='relu', kernel_initializer='he_normal'))
    model.add(BatchNormalization())
    model.add(Dropout(0.3))
    """
    model.add(Dense(128, input_dim=dim, activation ='relu', kernel_initializer='he_normal'))
    model.add(BatchNormalization())
    model.add(Dropout(0.3))
    model.add(Dense(256, activation ='relu', kernel_initializer='he_normal'))
    model.add(BatchNormalization())
    model.add(Dropout(0.3))
    model.add(Dense(512, activation ='relu', kernel_initializer='he_normal'))
    model.add(BatchNormalization())
    model.add(Dropout(0.3))
    """
    #model.add(Dense(64, activation ='relu', kernel_initializer='he_normal'))
    #model.add(Dense(10, activation="LeakyReLU"))
    return model

def create_1Dcnn(dim):
    inputShape = (dim,1)

    Inputs = Input(shape = inputShape)

    conv1 = Conv1D(filters = 8, kernel_size=6,padding = 'valid',activation ='linear', kernel_initializer='he_normal')(Inputs)
    pool1 = GlobalAveragePooling1D()(conv1)

    conv2 = Conv1D(filters = 8, kernel_size=7,padding = 'valid', activation ='linear', kernel_initializer='he_normal')(Inputs)
    pool2 = GlobalAveragePooling1D()(conv2)

    conv3 = Conv1D(filters = 8, kernel_size=8,padding = 'valid', activation ='linear', kernel_initializer='he_normal')(Inputs)
    pool3 = GlobalAveragePooling1D()(conv3)

    concat = concatenate([pool1, pool2, pool3])
    #concat = tf.expand_dims(concat,-1)

    #results = LSTM(64)(concat)
    results = Dense(10,activation ='linear', kernel_initializer='he_normal')(concat)
    model = Model(Inputs,results)
    return model


def create_lstm(dim):
    inputShape = (dim,1)
    
    inputs = Input(shape = inputShape)
    #print(inputs.shape)
    
    x = LSTM(10)(inputs)
    x = Dropout(0.2)(x)
    x = Dense(10,activation ='relu', kernel_initializer='he_normal')(x)
    model = Model(inputs,x)

    return model

In [45]:

X_num_lstm = X_num.copy() 
X_num_lstm = np.array(X_num_lstm)
X_num_lstm = np.reshape(X_num_lstm,(X_num_lstm.shape[0],X_num_lstm.shape[1],1))
# create the MLP and LSTM models
mlp = create_mlp(X_num.shape[1], regress=False)
cnn = create_1Dcnn(X_emb.shape[1])
lstm = create_lstm((X_num_lstm.shape[1]))
#print(mlp.output, lstm.output)

combinedInput = concatenate([lstm.output, cnn.output])
#combinedInput = tf.expand_dims(combinedInput,-1)

# our final FC layer head will have two dense layers, the final one
# being our regression head
#x = LSTM(5)(combinedInput)

x = Dense(8, activation="selu")(combinedInput)
#x = BatchNormalization()(x)
x = Dropout(0.3)(x)

x = Dropout(0.3)(x)
x = Dense(1, activation="selu")(x)

model = Model(inputs=[lstm.input, cnn.input], outputs=x)


opt = Adam(lr=0.01, decay=1e-3 / 200)
#opt = RMSprop(0.001)
model.compile(loss= "mean_absolute_percentage_error",optimizer=opt)




from tensorflow.keras.utils import plot_model

plot_model(model, to_file = 'model_1.png', show_shapes = True, show_layer_names = True)
# train the model

Failed to import pydot. You must install pydot and graphviz for `pydotprint` to work.

In [46]:
model.summary()

Model: "model_11"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_7 (InputLayer)            [(None, 90, 1)]      0
__________________________________________________________________________________________________
input_8 (InputLayer)            [(None, 31, 1)]      0
__________________________________________________________________________________________________
conv1d_9 (Conv1D)               (None, 85, 8)        56          input_7[0][0]
__________________________________________________________________________________________________
conv1d_10 (Conv1D)              (None, 84, 8)        64          input_7[0][0]
__________________________________________________________________________________________________
conv1d_11 (Conv1D)              (None, 83, 8)        72          input_7[0][0]
__________________________________________________________________________________________________
lstm_3 (LSTM)                   (None, 10)           480         input_8[0][0]
__________________________________________________________________________________________________
global_average_pooling1d_9 (Glo (None, 8)            0           conv1d_9[0][0]
__________________________________________________________________________________________________
global_average_pooling1d_10 (Gl (None, 8)            0           conv1d_10[0][0]
__________________________________________________________________________________________________
global_average_pooling1d_11 (Gl (None, 8)            0           conv1d_11[0][0]
__________________________________________________________________________________________________
dropout_25 (Dropout)            (None, 10)           0           lstm_3[0][0]
__________________________________________________________________________________________________
concatenate_6 (Concatenate)     (None, 24)           0           global_average_pooling1d_9[0][0]
                                                                 global_average_pooling1d_10[0][0]
                                                                 global_average_pooling1d_11[0][0]
__________________________________________________________________________________________________
dense_29 (Dense)                (None, 10)           110         dropout_25[0][0]
__________________________________________________________________________________________________
dense_28 (Dense)                (None, 10)           250         concatenate_6[0][0]
__________________________________________________________________________________________________
concatenate_7 (Concatenate)     (None, 20)           0           dense_29[0][0]
                                                                 dense_28[0][0]
__________________________________________________________________________________________________
dense_30 (Dense)                (None, 8)            168         concatenate_7[0][0]
__________________________________________________________________________________________________
dropout_26 (Dropout)            (None, 8)            0           dense_30[0][0]
__________________________________________________________________________________________________
dropout_27 (Dropout)            (None, 8)            0           dropout_26[0][0]
__________________________________________________________________________________________________
dense_31 (Dense)                (None, 1)            9           dropout_27[0][0]
==================================================================================================
Total params: 1,209
Trainable params: 1,209
Non-trainable params: 0
__________________________________________________________________________________________________

# CV

In [47]:
X_num

,판매단가,방송월,방송일,상품군별월별평균판매량,상품군별시간대별평균판매량,상품군별시간분별평균판매량,할인율,상품군_zscore,마더코드_zscore,NEW_zscore,...,상품군_가전,상품군_건강기능,상품군_농수축,상품군_생활용품,상품군_속옷,상품군_의류,상품군_이미용,상품군_잡화,상품군_주방,상품군_침구
0,0.003423,0.0,0.0,0.274608,0.181905,0.243604,0.000000,0.156959,0.163217,0.501474,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.003423,0.0,0.0,0.274608,0.181905,0.243604,0.000000,0.156959,0.163217,0.501474,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.003423,0.0,0.0,0.274608,0.181905,0.331690,0.000000,0.156959,0.163217,0.501474,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.003423,0.0,0.0,0.274608,0.181905,0.331690,0.000000,0.156959,0.163217,0.501474,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.003423,0.0,0.0,0.274608,0.181905,0.441439,0.000000,0.156959,0.163217,0.501474,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38299,0.018340,1.0,1.0,0.238687,0.065096,0.205372,0.000000,0.195034,0.406461,0.760434,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
38300,0.020866,1.0,1.0,0.238687,0.000000,0.115723,0.000000,0.209962,0.800044,0.702064,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
38301,0.018340,1.0,1.0,0.238687,0.000000,0.115723,0.000000,0.195034,0.406461,0.760434,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
38302,0.019603,1.0,1.0,0.238687,0.000000,0.115723,0.112079,0.202498,0.603252,0.300885,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
38303,0.017077,1.0,1.0,0.238687,0.000000,0.115723,0.126266,0.187570,0.209669,0.242514,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [48]:
y = data['y']
y = np.log(y)

In [ ]:
preds = {'val_preds' : [], 'test_preds' : []} 
mape = {'val_mape' : [], 'test_mape' : []} 

for i in range(1,13):
    print('처리중인 fold:',i)

    train_idx = X_num[X_num['방송월'] != i ].index
    test_idx = X_num[X_num['방송월'] == i ].index

    X_train_num = X_num.loc[train_idx]
    X_train_emb = X_emb.loc[train_idx]
    y_train = y.loc[X_train_num.index]


    test_num = X_num.loc[test_idx]
    test_emb = X_emb.loc[test_idx]

    X_val_num = test_num.loc[((test_num['방송일'] > 0) & (test_num['방송일'] < 8)) | ((test_num['방송일'] > 15) & (test_num['방송일'] < 24))]
    X_val_emb = test_emb.loc[X_val_num.index]
    y_val = y.loc[X_val_num.index]

    X_test_num = test_num.loc[((test_num['방송일'] > 7) & (test_num['방송일'] < 16)) | ((test_num['방송일'] > 23) & (test_num['방송일'] < 32))]
    X_test_emb = test_emb.loc[X_test_num.index]
    y_test = y.loc[X_test_num.index]


    X_train_emb = np.asarray(X_train_emb).astype(np.float32)
    X_train_emb = np.reshape(X_train_emb,(X_train_emb.shape[0],X_train_emb.shape[1],1))

    X_train_num = np.asarray(X_train_num).astype(np.float32)
    X_train_num = np.reshape(X_train_num,(X_train_num.shape[0],X_train_num.shape[1],1))

    y_train = np.asarray(y_train).astype(np.float32)

    X_test_emb = np.asarray(X_test_emb).astype(np.float32)
    X_test_emb = np.reshape(X_test_emb,(X_test_emb.shape[0],X_test_emb.shape[1],1))
    X_test_num = np.asarray(X_test_num).astype(np.float32)
    X_test_num = np.reshape(X_test_num,(X_test_num.shape[0],X_test_num.shape[1],1))

    y_test = np.asarray(y_test).astype(np.float32)
    
    
    X_val_emb = np.asarray(X_val_emb).astype(np.float32)
    X_val_emb = np.reshape(X_val_emb,(X_val_emb.shape[0],X_val_emb.shape[1],1))
    X_val_num = np.asarray(X_val_num).astype(np.float32)
    X_val_num = np.reshape(X_val_num,(X_val_num.shape[0],X_val_num.shape[1],1))

    y_val = np.asarray(y_val).astype(np.float32)

    model.fit(
    x=[X_train_num, X_train_emb], y=y_train,
    validation_data=([X_val_num, X_val_emb], y_val),
    epochs=2, batch_size = 1,
    callbacks = [reduceLR,earlystopping])

    y_pred = model.predict([X_test_num, X_test_emb])
    val_pred = model.predict([X_val_num, X_val_emb])
    
    preds['val_preds'].append(val_pred)
    preds['test_preds'].append(y_pred)
    mape['val_mape'].append(mean_absolute_percentage_error(y_val, val_pred))
    mape['test_mape'].append(mean_absolute_percentage_error(y_test,y_pred))
    """

    preds['val_preds'].append(np.exp(val_pred))
    preds['test_preds'].append(np.exp(y_pred))
    mape['val_mape'].append(mean_absolute_percentage_error(np.exp(y_val), np.exp(val_pred)))
    mape['test_mape'].append(mean_absolute_percentage_error(np.exp(y_test), np.exp(y_pred)))
    """
    for m, arg in enumerate(zip(mape['val_mape'], mape['test_mape']), 1):
            print(f'{m}월\t', '[val]:', arg[0], '\t[test]', arg[1])

처리중인 fold: 1
Train on 35379 samples
Epoch 1/2
17717/35379 [==============>...............] - ETA: 2:10 - loss: 8.7073

최종 Model MAPE

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.style.use('seaborn')
plt.rc('font', family='Malgun Gothic')
plt.rc('axes', unicode_minus=False)

plt.figure(figsize = (10, 5))
plt.plot(mape['val_mape'])
plt.plot(mape['test_mape'])
plt.xlabel('Month', fontsize = 14)
plt.title('MAPE', fontsize = 15)
plt.legend(['valid', 'test'])
plt.xticks(np.arange(0,12), np.arange(1,13))
plt.show()

In [ ]:
print(mape['val_mape'])
print(mape['test_mape'])

In [ ]:
 np.mean(mape['val_mape']), np.mean(mape['test_mape'])