In [429]:
import os
import sys
import numpy as np
import pandas as pd

# 0. 데이터 로드

In [453]:
sale = pd.read_excel(os.path.join('..', '0.Data', '01_제공데이터', 'sale_data_v03_0820.xlsx'))
meta = pd.read_excel(os.path.join('..', '0.Data', '01_제공데이터', 'sale_meta_v03_0820.xlsx'))
item = pd.read_excel(os.path.join('..', '0.Data', '01_제공데이터', 'item_meta_v02_0820.xlsx'))

In [431]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# 1. 피처 엔지니어링

In [417]:
def preprocessing(df):
    ## [공휴일여부]
    
    ## 날짜 및 시간대
    df['방송월'] = df['방송일시'].dt.month
    df['방송시간(시간)'] = df['방송일시'].dt.hour.apply(lambda x : 24 if x == 0 else x)
    df['방송시간(분)'] = df['방송일시'].dt.minute
    
    
    ## [평일여부] (평일 : 0, 주말 : 1)
    
    
    ## [방송시간대] (아침/오전/오후/저녁/밤 (아침(6:00~9:00)/오전(9:00~12:00)/오후(12:00~18:00)/저녁(18:00~22:00)/밤(22:00~2:00))
    df['방송시간대'] = df['방송월'].dt.hour.apply(lambda x : '아침' if 5 < x <= 9 else 
                                          ('오전' if 10 <= x <= 12 else
                                           ( '오후' if 13 <= x <= 18 else
                                            ('저녁' if 19 <= x <= 22 else
                                             ('밤' if 23 <= x < 3 else x)
                                            ))))
    ## [계절] (봄(3~5), 여름6~8), 가을(9~11), 겨울(12~2))
    df['계절'] = df['방송월'].apply(lambda x : '봄' if 3 <= x <= 5 else
                            ('여름' if 6 <= x <= 8 else
                             ('가을' if 9 <= x <= 11 else 
                              ('겨울' if x < 3 or x > 11 else x))))
    
    ## [분기] 
    df['분기'] = df['방송월'].apply(lambda x : '1분기' if 1 <= x <= 3 else
                            ('2분기' if 4 <= x <= 6 else
                             ('3분기' if 7 <= x <= 9 else 
                              ('4분기' if 10 <= x <= 12 else x))))
    
    
    
    ## [성별] (공용 : 0, 남성 : 1, 여성 : 2)
    df['성별'] = df['NEW상품명'].apply(lambda x : 1 if '남성' in x else (2 if '여성' in x else 0)).value_counts()

## 1-1. 날짜

### 1) 공휴일 여부

In [418]:
# open API 사용
# 공휴일은 당일 말고 주변 날짜까지 고려해야할듯 특히 설날/추석

In [560]:
import json
import requests
key = '8wBiTSHPiK2z%2By8ETu%2FpYv%2FMAAdZoR8rZg3PIvSNCcD%2F26BiBPaosFs2dzrVJ%2BHUeaQGWb9c3T4vvNgMpI7fdw%3D%3D'

In [595]:
# 2019 공휴일
url = f'http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getRestDeInfo?solYear=2019&ServiceKey={key}&_type=json&numOfRows=20'
response = requests.get(url)

In [599]:
holidays = response.json()['response']['body']['items']['item']

In [602]:
holi_2019 = pd.DataFrame(holidays)

In [603]:
# 2020 공휴일

In [604]:
url = f'http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getRestDeInfo?solYear=2020&ServiceKey={key}&_type=json&numOfRows=20'
response = requests.get(url)

In [605]:
holidays = response.json()['response']['body']['items']['item']

In [607]:
holi_2020 = pd.DataFrame(holidays)

### 2) 평일/주말

In [419]:
sale['방송일시'].dt.weekday.value_counts()

6    5568
2    5440
1    5421
3    5312
0    5237
4    5212
5    5182
Name: 방송일시, dtype: int64

In [420]:
sale['방송일시'].dt.weekday.apply(lambda x : 0 if x < 5 else 1)

0        0
1        0
2        0
3        0
4        0
        ..
37367    0
37368    0
37369    0
37370    0
37371    0
Name: 방송일시, Length: 37372, dtype: int64

### 3) 방송시간대

In [421]:
# 방송시간대의 시간을 기준으로 시간대 분류
# (아침(6:00~9:00)/오전(9:00~12:00)/오후(12:00~18:00)/저녁(18:00~22:00)/밤(22:00~2:00)

In [422]:
sale['방송일시'].dt.hour

0         6
1         6
2         6
3         6
4         6
         ..
37367    23
37368     0
37369     0
37370     0
37371     0
Name: 방송일시, Length: 37372, dtype: int64

In [423]:
# 0을 24로 바꾸고 진행
sale['방송일시'].dt.hour.apply(lambda x : '아침' if 5 < x <= 9 else 
                                          ('오전' if 10 <= x <= 12 else
                                           ( '오후' if 13 <= x <= 18 else
                                            ('저녁' if 19 <= x <= 22 else
                                             ('밤' if 23 <= x or x < 3 else x)
                                            )))).value_counts()

저녁    11406
오후     8870
아침     6061
오전     5630
밤      5405
Name: 방송일시, dtype: int64

### 4) 계절

In [424]:
# 방송월을 기준으로 계절 분류
# (3~5 : 봄, 6~8 : 여름, 9~11 : 가을, 12~2 : 겨울)

In [425]:
sale['방송일시'].dt.month.apply(lambda x : '봄' if 3 <= x <= 5 else
                            ('여름' if 6 <= x <= 8 else
                             ('가을' if 9 <= x <= 11 else 
                              ('겨울' if x < 3 or x > 11 else x)))).value_counts()

봄     10220
여름     9493
가을     8981
겨울     8678
Name: 방송일시, dtype: int64

### 5) 분기

In [426]:
sale['방송일시'].dt.month.apply(lambda x : '1분기' if 1 <= x <= 3 else
                            ('2분기' if 4 <= x <= 6 else
                             ('3분기' if 7 <= x <= 9 else 
                              ('4분기' if 10 <= x <= 12 else x)))).value_counts()

2분기    9983
3분기    9609
1분기    8942
4분기    8838
Name: 방송일시, dtype: int64

## 1-2. 가격

### 1) 마더코드 별 가격

In [454]:
meta.shape

(2042, 14)

In [455]:
meta.head()

,상품코드,상품명,상품군,판매단가,결제방법,상품명다시,단위,브랜드,옵션,종류,모델명,성별,NEW상품명,NEW상품코드
0,200944,[가이거] 블랙 에디션 다이아몬드 워치(남성용),잡화,178000,0,남성 블랙 에디션 다이아몬드 워치,NaN,가이거,NaN,악세서리,NaN,nan,가이거 남성 블랙 에디션 다이아몬드 워치,0
1,200942,[가이거] 블랙 에디션 다이아몬드 워치(남성용),잡화,178000,0,남성 블랙 에디션 다이아몬드 워치,NaN,가이거,NaN,악세서리,NaN,nan,가이거 남성 블랙 에디션 다이아몬드 워치,0
2,200948,무이자[가이거] 무빙스타 다이아몬드 워치,잡화,129000,2,무빙스타 다이아몬드 워치,NaN,가이거,NaN,악세서리,NaN,nan,가이거 무빙스타 다이아몬드 워치,1
3,200951,일시불[가이거] 무빙스타 다이아몬드 워치,잡화,119000,1,무빙스타 다이아몬드 워치,NaN,가이거,NaN,악세서리,NaN,nan,가이거 무빙스타 다이아몬드 워치,1
4,200946,[무이자] 가이거 무빙스타 다이아몬드 워치+보석함,잡화,119000,2,무빙스타 다이아몬드 워치 + 보석함,NaN,가이거,NaN,악세서리,NaN,nan,가이거 무빙스타 다이아몬드 워치 + 보석함,2

In [456]:
meta = meta.merge(sale[['상품코드', '마더코드']].drop_duplicates(), on = '상품코드', how = 'left')

In [457]:
meta.groupby('마더코드').agg({
    '판매단가' : [('최고판매단가', np.max),
             ('최저판매단가', np.min),
              ('평균판매단가', np.mean),
              ('temp', lambda x : np.max(x) - np.min(x)),
              ('분산', np.var),
              ('표준편차', np.std)
             ]
}).sort_values(('판매단가','temp'))

           판매단가
         최고판매단가   최저판매단가      평균판매단가     temp                분산        표준편차
마더코드
100000    79900    79900   79900.000        0               nan         nan
100477   129000   129000  129000.000        0               nan         nan
100476    60900    60900   60900.000        0               nan         nan
100475    59800    59800   59800.000        0             0.000       0.000
100473   129000   129000  129000.000        0             0.000       0.000
...         ...      ...         ...      ...               ...         ...
100575  2880000  1000000 1780625.000  1880000  499728629032.258  706914.867
100148  3190000  1200000 2102686.567  1990000  436256309362.279  660497.017
100036  2730000   380000 1597500.000  2350000 1524491666666.667 1234703.068
100786  3990000   490000 1631904.762  3500000  900156190476.190  948765.614
100788  7930000   520000 2770714.286  7410000 3836114835164.835 1958600.223

[687 rows x 6 columns]

In [458]:
# 마더코드 100788 의 경우 루이띠에 금 및 악세서리로 귀걸이와 70g금과 가격차이가 740만원
meta.loc[meta['마더코드'] == 100788]

,상품코드,상품명,상품군,판매단가,결제방법,상품명다시,단위,브랜드,옵션,종류,모델명,성별,NEW상품명,NEW상품코드,마더코드
262,202328,[루이띠에] 순금 37.5g 골드바,잡화,4250000,0,순금 골드바,37.5g,루이띠에,NaN,주얼리,NaN,nan,루이띠에 순금 골드바 37.5g,203,100788
263,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,0,순금 골드바,70g,루이띠에,NaN,주얼리,NaN,nan,루이띠에 순금 골드바 70g,204,100788
264,202338,루이띠에 순금 미라클 트리플 링 15g+골드바 1g,잡화,1720000,0,순금 미라클 트리플 링 + 골드바,16g,루이띠에,NaN,주얼리,NaN,nan,루이띠에 순금 미라클 트리플 링 + 골드바 16g,205,100788
265,202339,루이띠에 순금 샤이닝 러브 목걸이 35g+골드바 1g,잡화,3650000,0,순금 샤이닝 러브 목걸이 + 골드바,36g,루이띠에,NaN,주얼리,NaN,nan,루이띠에 순금 샤이닝 러브 목걸이 + 골드바 36g,206,100788
266,202340,루이띠에 순금 샤이닝 러브 팔찌 35g+골드바 1g,잡화,3650000,0,순금 샤이닝 러브 팔찌 + 골드바,36g,루이띠에,NaN,주얼리,NaN,nan,루이띠에 순금 샤이닝 러브 팔찌 + 골드바 36g,207,100788
267,202325,[루이띠에] 순금 13g 신디스틱 목걸이,잡화,1670000,0,순금 신디스틱 목걸이,13g,루이띠에,NaN,주얼리,NaN,nan,루이띠에 순금 신디스틱 목걸이 13g,208,100788
268,202341,루이띠에 순금 신디스틱 목걸이 13g+골드바 1g,잡화,1590000,0,순금 신디스틱 목걸이 + 골드바,14g,루이띠에,NaN,주얼리,NaN,nan,루이띠에 순금 신디스틱 목걸이 + 골드바 14g,209,100788
269,202326,[루이띠에] 순금 13g 신디스틱 팔찌,잡화,1670000,0,순금 신디스틱 팔찌,13g,루이띠에,NaN,주얼리,NaN,nan,루이띠에 순금 신디스틱 팔찌 13g,210,100788
270,202342,루이띠에 순금 신디스틱 팔찌 13g+골드바 1g,잡화,1590000,0,순금 신디스틱 팔찌 + 골드바,14g,루이띠에,NaN,주얼리,NaN,nan,루이띠에 순금 신디스틱 팔찌 + 골드바 14g,211,100788
271,202343,루이띠에 순금 크로스 트리플 목걸이 18g+골드바 1g,잡화,2030000,0,순금 크로스 트리플 목걸이 + 골드바,19g,루이띠에,NaN,주얼리,NaN,nan,루이띠에 순금 크로스 트리플 목걸이 + 골드바 19g,212,100788
272,202344,루이띠에 순금 크로스 트리플 팔찌 18g+골드바 1g,잡화,2030000,0,순금 크로스 트리플 팔찌 + 골드바,19g,루이띠에,NaN,주얼리,NaN,nan,루이띠에 순금 크로스 트리플 팔찌 + 골드바 19g,213,100788
273,202324,[루이띠에] 순금 11.25g 헤라 반지,잡화,1430000,0,순금 헤라 반지,11.25g,루이띠에,NaN,주얼리,NaN,nan,루이띠에 순금 헤라 반지 11.25g,214,100788
274,202329,[루이띠에] 순금 41.25g 헤라 컬렉션,잡화,5060000,0,순금 헤라 컬렉션,41.25g,루이띠에,NaN,주얼리,NaN,nan,루이띠에 순금 헤라 컬렉션 41.25g,215,100788
275,202327,[루이띠에] 순금 3.75g 헤라귀걸이,잡화,520000,0,순금 헤라귀걸이,3.75g,루이띠에,NaN,주얼리,NaN,nan,루이띠에 순금 헤라귀걸이 3.75g,216,100788

### 2) 상품군 별 가격

In [459]:
meta.groupby('상품군').agg({
    '판매단가' : [('최고판매단가', np.max),
             ('최저판매단가', np.min),
              ('평균판매단가', np.mean),
              ('중간판매단가', np.median),
             ('temp', lambda x : np.max(x) - np.min(x)),
             ('표준편차', np.std),
              ('분산', np.var)
             ]
}).sort_values(('판매단가','temp'))

         판매단가                                                    \
       최고판매단가  최저판매단가      평균판매단가   중간판매단가     temp        표준편차
상품군
이미용     79900   39800   55990.625    59000    40100   13357.071
농수축    109900   28900   47408.553    44400    81000   12984.790
속옷     139000   29900   77782.353    79000   109100   23698.312
건강기능   238000   39900   95986.607    78000   198100   47014.734
침구     239000   39900  101405.000    79900   199100   53396.142
주방    1184400   24900  142329.388   119000  1159500  121568.762
생활용품  1980000   12800  167392.350    99000  1967200  280357.324
의류    2490000   29000  116562.983    59900  2461000  263711.564
가전    3190000  164000 1572969.112  1499000  3026000  770846.383
가구    3990000   89000 1376532.456  1089050  3901000 1027622.955
잡화    7930000   29000  509390.291   148000  7901000  881070.312


                    분산
상품군
이미용      178411339.286
농수축      168604760.805
속옷       561609982.626
건강기능    2210385226.461
침구      2851147940.678
주방     14778963968.886
생활용품   78600228952.141
의류     69543789207.695
가전    594204146329.053
가구   1056008937609.843
잡화    776284895424.915

### 3) 새로운 상품명 별 가격

In [460]:
# 원래 상품코드로는 가격차이가 너무 없음
# 새로운 상품명은 무이자, 일시불, 할인 등으로 가격차이가 발생한 것을 캐치할 수 잇음

In [461]:
meta.groupby('NEW상품명').agg({
    '판매단가' : [('최고판매단가', np.max),
             ('최저판매단가', np.min),
              ('평균판매단가', np.mean),
              ('중간판매단가', np.median),
             ('temp', lambda x : np.max(x) - np.min(x)),
             ]
}).sort_values(('판매단가','temp')).tail(30)

                                 판매단가
                               최고판매단가   최저판매단가      평균판매단가   중간판매단가    temp
NEW상품명
삼성 UHD TV 55인치                1170000  1000000 1063750.000  1080000  170000
삼성 냉장고 T9000 4도어              2129000  1959000 2044000.000  2044000  170000
브람스 안마의자 럭셔리                  1980000  1800000 1890000.000  1890000  180000
삼성 삼성노트북 북5                    989000   809000  899000.000   899000  180000
한샘 모데나 프리미엄 슬라이딩 붙박이장 3.2m    1899000  1709100 1804050.000  1804050  189900
LG 트롬 건조기 14kg                1890000  1700000 1795000.000  1795000  190000
LG 매직스페이스 냉장고                 1549000  1359000 1454000.000  1454000  190000
삼성 UHD TV 65인치                1800000  1600000 1725000.000  1700000  200000
마리노블 밍크 롱코트                    499000   299000  399000.000   399000  200000
마르엘라로사티 나파 휘메일 풀스킨 밍크하프코트 1종  1690000  1490000 1623333.333  1690000  200000
한샘 모데나 프리미엄 슬라이딩 붙박이장 4.2m    2299000  2069100 2184050.000  2184050  229900
삼성 삼성 건조기 9kg                 1340000  1100000 1228333.333  1225000  240000
LG 휘센 씽큐 에어컨 스탠드형             2139000  1899000 2004000.000  1989000  240000
LG 울트라HD TV 55인치              1440000  1200000 1301052.632  1300000  240000
삼성 무풍클래식 홈멀티에어컨               2749000  2509000 2629000.000  2629000  240000
삼성 무풍클래식 스탠드 에어컨              2349000  2109000 2229000.000  2229000  240000
삼성 4도어 푸드쇼케이스 냉장고             1669000  1419000 1544000.000  1544000  250000
삼성 UHD TV 75인치                2880000  2600000 2765000.000  2740000  280000
LG 노트북 그램 15인치                1649000  1330000 1489500.000  1489500  319000
한샘 하이바스 내추럴 기본형               3390000  3051000 3220500.000  3220500  339000
LG 휘센 씽큐 에어컨 2IN1형            2549000  2209000 2354000.000  2299000  340000
LG 퓨리케어 공기청정기                 1149000   809000  979000.000   979000  340000
한샘 하이바스 내추럴 기본형 + 키큰장         3690000  3321000 3505500.000  3505500  369000
한샘 하이바스 내추럴 하부장형              3690000  3321000 3505500.000  3505500  369000
대우전자 벽걸이 에어컨                   849000   459000  662333.333   654000  390000
한샘 하이바스 내추럴 하부장 + 키큰장         3990000  3591000 3790500.000  3790500  399000
LG 울트라HD TV 65인치              2130000  1690000 1863684.211  1900000  440000
이누스바스 시공패키지                   3150000  2682000 2911750.000  2907500  468000
LG 울트라HD TV 75인치              3190000  2700000 2925384.615  2900000  490000
LG 울트라HD TV 70인치              2990000  2400000 2670000.000  2690000  590000

In [462]:
# 같은 LG 노트북 그램 15인치여도 스펙에 따라(본 상품코드가 다름) 가격에서 차이가 발생하긴함
meta.loc[meta['NEW상품명'] == 'LG 노트북 그램 15인치']

,상품코드,상품명,상품군,판매단가,결제방법,상품명다시,단위,브랜드,옵션,종류,모델명,성별,NEW상품명,NEW상품코드,마더코드
1638,200428,무이자 LG 노트북 그램 15인치 15Z980-G.AR3DK,가전,1649000,2,노트북 그램,15인치,LG,NaN,노트북,15Z980-G.AR3DK,nan,LG 노트북 그램 15인치,1120,100151
1639,200429,무이자 LG 노트북 그램 15인치 15Z980-L.AR1DK,가전,1420000,2,노트북 그램,15인치,LG,NaN,노트북,15Z980-L.AR1DK,nan,LG 노트북 그램 15인치,1120,100151
1640,200495,일시불 LG 노트북 그램 15인치 15Z980-G.AR3DK,가전,1559000,1,노트북 그램,15인치,LG,NaN,노트북,15Z980-G.AR3DK,nan,LG 노트북 그램 15인치,1120,100151
1641,200496,일시불 LG 노트북 그램 15인치 15Z980-L.AR1DK,가전,1330000,1,노트북 그램,15인치,LG,NaN,노트북,15Z980-L.AR1DK,nan,LG 노트북 그램 15인치,1120,100151

## 1-3. 성별

In [468]:
# 상품별 성별 비중
meta['NEW상품명'].apply(lambda x : 1 if '남성' in x else (2 if '여성' in x else 0)).value_counts()

0    1523
2     291
1     228
Name: NEW상품명, dtype: int64

In [483]:
sale['NEW상품명'].apply(lambda x : 1 if '남성' in x else (2 if '여성' in x else 0)).value_counts()

0    29843
1     3789
2     3740
Name: NEW상품명, dtype: int64

In [ ]:
### 1-4.