In [35]:
import os
import sys
import numpy as np
import pandas as pd

# 0. 데이터 로드

In [4]:
sale = pd.read_excel(os.path.join('..', '0.Data', '01_제공데이터', 'sale_data_v03_0820.xlsx'))
meta = pd.read_excel(os.path.join('..', '0.Data', '01_제공데이터', 'sale_meta_v03_0820.xlsx'))
item = pd.read_excel(os.path.join('..', '0.Data', '01_제공데이터', 'item_meta_v02_0820.xlsx'))

In [5]:
sale.shape, meta.shape, item.shape

((38309, 15), (2042, 14), (1364, 2))

In [6]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# 1. 피처 엔지니어링

## 1-1. 날짜

### 1) 공휴일 여부

In [418]:
# open API 사용
# 공휴일은 당일 말고 주변 날짜까지 고려해야할듯 특히 설날/추석

In [36]:
import json
import requests
key = '8wBiTSHPiK2z%2By8ETu%2FpYv%2FMAAdZoR8rZg3PIvSNCcD%2F26BiBPaosFs2dzrVJ%2BHUeaQGWb9c3T4vvNgMpI7fdw%3D%3D'

In [37]:
# 2019 공휴일
url = f'http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getRestDeInfo?solYear=2019&ServiceKey={key}&_type=json&numOfRows=20'
response = requests.get(url)

In [38]:
holidays = response.json()['response']['body']['items']['item']

In [41]:
holidays = pd.DataFrame(holidays)

In [43]:
holidays['locdate'] = holidays['locdate'].astype(str).apply(lambda x : '-'.join([x[:4], x[4:6], x[6:]]))

In [44]:
holidays

   dateKind dateName isHoliday     locdate  seq
0        01     1월1일         Y  2019-01-01    1
1        01       설날         Y  2019-02-04    1
2        01       설날         Y  2019-02-05    1
3        01       설날         Y  2019-02-06    1
4        01      삼일절         Y  2019-03-01    1
5        01     어린이날         Y  2019-05-05    1
6        01    대체공휴일         Y  2019-05-06    1
7        01   부처님오신날         Y  2019-05-12    1
8        01      현충일         Y  2019-06-06    1
9        01      광복절         Y  2019-08-15    1
10       01       추석         Y  2019-09-12    1
11       01       추석         Y  2019-09-13    1
12       01       추석         Y  2019-09-14    1
13       01      개천절         Y  2019-10-03    1
14       01      한글날         Y  2019-10-09    1
15       01    기독탄신일         Y  2019-12-25    1

In [50]:
sale['방송일시'].dt.date.astype(str)

0        2019-01-01
1        2019-01-01
2        2019-01-01
3        2019-01-01
4        2019-01-01
            ...
38304    2020-01-01
38305    2020-01-01
38306    2020-01-01
38307    2020-01-01
38308    2020-01-01
Name: 방송일시, Length: 38309, dtype: object

In [51]:
sale.merge(holidays[['locdate', 'isHoliday']], left_on = sale['방송일시'].dt.date.astype(str), right_on = 'locdate', how = 'left')

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,NEW상품코드,NEW상품명,결제방법,단위,브랜드,옵션,종류,locdate,isHoliday
0,2019-01-01 06:00:00,20.000,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.000,865.000,테이트 남성 셀린니트 3종,0.000,3종,테이트,NaN,0,2019-01-01,Y
1,2019-01-01 06:00:00,nan,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.000,866.000,테이트 여성 셀린니트 3종,0.000,3종,테이트,NaN,0,2019-01-01,Y
2,2019-01-01 06:20:00,20.000,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.000,865.000,테이트 남성 셀린니트 3종,0.000,3종,테이트,NaN,0,2019-01-01,Y
3,2019-01-01 06:20:00,nan,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.000,866.000,테이트 여성 셀린니트 3종,0.000,3종,테이트,NaN,0,2019-01-01,Y
4,2019-01-01 06:40:00,20.000,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.000,865.000,테이트 남성 셀린니트 3종,0.000,3종,테이트,NaN,0,2019-01-01,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38304,2020-01-01 00:20:00,20.000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,nan,nan,NaN,nan,NaN,NaN,NaN,NaN,2020-01-01,NaN
38305,2020-01-01 00:40:00,20.000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,nan,nan,NaN,nan,NaN,NaN,NaN,NaN,2020-01-01,NaN
38306,2020-01-01 01:00:00,20.000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,nan,nan,NaN,nan,NaN,NaN,NaN,NaN,2020-01-01,NaN
38307,2020-01-01 01:20:00,20.000,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,nan,nan,NaN,nan,NaN,NaN,NaN,NaN,2020-01-01,NaN
38308,2020-01-01 01:40:00,17.167,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,nan,nan,NaN,nan,NaN,NaN,NaN,NaN,2020-01-01,NaN

In [603]:
# 2020 공휴일

In [604]:
url = f'http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getRestDeInfo?solYear=2020&ServiceKey={key}&_type=json&numOfRows=20'
response = requests.get(url)

In [605]:
holidays = response.json()['response']['body']['items']['item']

In [607]:
holi_2020 = pd.DataFrame(holidays)

In [619]:
holi_2020

   dateKind     dateName isHoliday   locdate  seq
0        01         1월1일         Y  20200101    1
1        01           설날         Y  20200124    1
2        01           설날         Y  20200125    1
3        01           설날         Y  20200126    1
4        01           설날         Y  20200127    1
5        01          삼일절         Y  20200301    1
6        01  제21대 국회의원선거         Y  20200415    1
7        01       부처님오신날         Y  20200430    1
8        01         어린이날         Y  20200505    1
9        01          현충일         Y  20200606    1
10       01          광복절         Y  20200815    1
11       01        임시공휴일         Y  20200817    1
12       01           추석         Y  20200930    1
13       01           추석         Y  20201001    1
14       01           추석         Y  20201002    1
15       01          개천절         Y  20201003    1
16       01          한글날         Y  20201009    1
17       01        기독탄신일         Y  20201225    1

### 2) 평일/주말

In [419]:
sale['방송일시'].dt.weekday.value_counts()

6    5568
2    5440
1    5421
3    5312
0    5237
4    5212
5    5182
Name: 방송일시, dtype: int64

In [420]:
sale['방송일시'].dt.weekday.apply(lambda x : 0 if x < 5 else 1)

0        0
1        0
2        0
3        0
4        0
        ..
37367    0
37368    0
37369    0
37370    0
37371    0
Name: 방송일시, Length: 37372, dtype: int64

### 3) 방송시간대

In [421]:
# 방송시간대의 시간을 기준으로 시간대 분류
# (아침(6:00~9:00)/오전(9:00~12:00)/오후(12:00~18:00)/저녁(18:00~22:00)/밤(22:00~2:00)

In [422]:
sale['방송일시'].dt.hour

0         6
1         6
2         6
3         6
4         6
         ..
37367    23
37368     0
37369     0
37370     0
37371     0
Name: 방송일시, Length: 37372, dtype: int64

In [423]:
# 0을 24로 바꾸고 진행
sale['방송일시'].dt.hour.apply(lambda x : '아침' if 5 < x <= 9 else 
                                          ('오전' if 10 <= x <= 12 else
                                           ( '오후' if 13 <= x <= 18 else
                                            ('저녁' if 19 <= x <= 22 else
                                             ('밤' if 23 <= x or x < 3 else x)
                                            )))).value_counts()

저녁    11406
오후     8870
아침     6061
오전     5630
밤      5405
Name: 방송일시, dtype: int64

### 4) 계절

In [424]:
# 방송월을 기준으로 계절 분류
# (3~5 : 봄, 6~8 : 여름, 9~11 : 가을, 12~2 : 겨울)

In [425]:
sale['방송일시'].dt.month.apply(lambda x : '봄' if 3 <= x <= 5 else
                            ('여름' if 6 <= x <= 8 else
                             ('가을' if 9 <= x <= 11 else 
                              ('겨울' if x < 3 or x > 11 else x)))).value_counts()

봄     10220
여름     9493
가을     8981
겨울     8678
Name: 방송일시, dtype: int64

### 5) 분기

In [426]:
sale['방송일시'].dt.month.apply(lambda x : '1분기' if 1 <= x <= 3 else
                            ('2분기' if 4 <= x <= 6 else
                             ('3분기' if 7 <= x <= 9 else 
                              ('4분기' if 10 <= x <= 12 else x)))).value_counts()

2분기    9983
3분기    9609
1분기    8942
4분기    8838
Name: 방송일시, dtype: int64

## 1-2. 가격

In [7]:
def prepColumn(df):
    columns = []
    for i, c in enumerate(df.columns):
        if c[1] == '':
            columns.append(c[0])
        else:
            columns.append(c[1])
    return columns

### 1) 마더코드 별 가격

In [8]:
sale.shape, meta.shape, item.shape

((38309, 15), (2042, 14), (1364, 2))

In [9]:
meta = meta.merge(sale[['상품코드', '마더코드']].drop_duplicates(), on = '상품코드', how = 'left')

In [10]:
item = item.rename(columns = {'index' : 'NEW상품코드'})

In [11]:
item = item.merge(meta[['NEW상품코드', '상품군']].drop_duplicates(), on = 'NEW상품코드', how = 'left')

In [12]:
item.shape, meta.shape

((1364, 3), (2042, 15))

In [13]:
meta.head()

,상품코드,상품명,상품군,판매단가,결제방법,상품명다시,단위,브랜드,옵션,종류,모델명,성별,NEW상품명,NEW상품코드,마더코드
0,200944,[가이거] 블랙 에디션 다이아몬드 워치(남성용),잡화,178000,0,남성 블랙 에디션 다이아몬드 워치,NaN,가이거,NaN,악세서리,NaN,nan,가이거 남성 블랙 에디션 다이아몬드 워치,0,100292
1,200942,[가이거] 블랙 에디션 다이아몬드 워치(남성용),잡화,178000,0,남성 블랙 에디션 다이아몬드 워치,NaN,가이거,NaN,악세서리,NaN,nan,가이거 남성 블랙 에디션 다이아몬드 워치,0,100292
2,200948,무이자[가이거] 무빙스타 다이아몬드 워치,잡화,129000,2,무빙스타 다이아몬드 워치,NaN,가이거,NaN,악세서리,NaN,nan,가이거 무빙스타 다이아몬드 워치,1,100293
3,200951,일시불[가이거] 무빙스타 다이아몬드 워치,잡화,119000,1,무빙스타 다이아몬드 워치,NaN,가이거,NaN,악세서리,NaN,nan,가이거 무빙스타 다이아몬드 워치,1,100293
4,200946,[무이자] 가이거 무빙스타 다이아몬드 워치+보석함,잡화,119000,2,무빙스타 다이아몬드 워치 + 보석함,NaN,가이거,NaN,악세서리,NaN,nan,가이거 무빙스타 다이아몬드 워치 + 보석함,2,100293

In [14]:
mothercode = meta.groupby('마더코드').agg({
    '판매단가' : [('마더코드_최고판매단가', np.max),
             ('마더코드_최저판매단가', np.min),
              ('마더코드_평균판매단가', np.mean),
              ('마더코드_최고-최저', lambda x : np.max(x) - np.min(x)),
              ('마더코드_분산', np.var),
              ('마더코드_표준편차', np.std)
             ]
}).reset_index()

In [15]:
mothercode.columns = prepColumn(mothercode)

In [16]:
mothercode = mothercode.fillna(0)

In [17]:
mothercode.head()

,마더코드,마더코드_최고판매단가,마더코드_최저판매단가,마더코드_평균판매단가,마더코드_최고-최저,마더코드_분산,마더코드_표준편차
0,100000,79900,79900,79900.000,0,0.000,0.000
1,100001,99000,99000,99000.000,0,0.000,0.000
2,100002,49900,49900,49900.000,0,0.000,0.000
3,100006,49800,49800,49800.000,0,0.000,0.000
4,100009,39900,39900,39900.000,0,0.000,0.000

In [40]:
item = item.merge(mothercode, on = '마더코드', how = 'left')

### 2) 상품군 별 가격

In [18]:
itemcategory = meta.groupby('상품군').agg({
    '판매단가' : [('상품군_최고판매단가', np.max),
             ('상품군_최저판매단가', np.min),
              ('상품군_평균판매단가', np.mean),
              ('상품군_중간판매단가', np.median),
             ('상품군_최고-최저', lambda x : np.max(x) - np.min(x)),
             ('상품군_표준편차', np.std),
              ('상품군_분산', np.var)
             ]
}).reset_index()

In [19]:
itemcategory.columns = prepColumn(itemcategory)

In [20]:
itemcategory.head()

,상품군,상품군_최고판매단가,상품군_최저판매단가,상품군_평균판매단가,상품군_중간판매단가,상품군_최고-최저,상품군_표준편차,상품군_분산
0,가구,3990000,89000,1376532.456,1089050,3901000,1027622.955,1056008937609.843
1,가전,3190000,164000,1572969.112,1499000,3026000,770846.383,594204146329.053
2,건강기능,238000,39900,95986.607,78000,198100,47014.734,2210385226.461
3,농수축,109900,28900,47408.553,44400,81000,12984.790,168604760.805
4,생활용품,1980000,12800,167392.350,99000,1967200,280357.324,78600228952.141

### 3) 새로운 상품명 별 가격

In [460]:
# 원래 상품코드로는 가격차이가 너무 없음
# 새로운 상품명은 무이자, 일시불, 할인 등으로 가격차이가 발생한 것을 캐치할 수 잇음

In [21]:
newitem = meta.groupby('NEW상품명').agg({
    '판매단가' : [('NEW_최고판매단가', np.max),
             ('NEW_최저판매단가', np.min),
              ('NEW_평균판매단가', np.mean),
              ('NEW_중간판매단가', np.median),
             ('NEW_최고-최저', lambda x : np.max(x) - np.min(x)),
              ('NEW_분산', np.var),
              ('NEW_표준편차', np.std)
             ]
}).reset_index()

In [22]:
newitem = newitem.fillna(0)

In [23]:
newitem.columns = prepColumn(newitem)

In [24]:
item = item.merge(newitem, on = 'NEW상품명', how = 'left')

In [25]:
item.head()

,NEW상품코드,NEW상품명,상품군,NEW_최고판매단가,NEW_최저판매단가,NEW_평균판매단가,NEW_중간판매단가,NEW_최고-최저,NEW_분산,NEW_표준편차
0,0,가이거 남성 블랙 에디션 다이아몬드 워치,잡화,178000,178000,178000.000,178000,0,0.000,0.000
1,1,가이거 무빙스타 다이아몬드 워치,잡화,129000,119000,124000.000,124000,10000,50000000.000,7071.068
2,2,가이거 무빙스타 다이아몬드 워치 + 보석함,잡화,119000,99000,109000.000,109000,20000,200000000.000,14142.136
3,3,가이거 여성 블랙 에디션 다이아몬드 워치,잡화,178000,178000,178000.000,178000,0,0.000,0.000
4,4,가이거 제니스시계 주얼리세트,잡화,139000,129000,134000.000,134000,10000,50000000.000,7071.068

In [637]:
# 같은 LG 노트북 그램 15인치여도 스펙에 따라(본 상품코드가 다름) 가격에서 차이가 발생하긴함
meta.loc[meta['NEW상품명'] == 'LG 울트라HD TV 70인치']

,상품코드,상품명,상품군,판매단가,결제방법,상품명다시,단위,브랜드,옵션,종류,모델명,성별,NEW상품명,NEW상품코드,마더코드
1674,200448,무이자 LG 울트라HD TV 70UK6800HNC,가전,2990000,2,울트라HD TV,70인치,LG,NaN,TV,70UK6800HNC,nan,LG 울트라HD TV 70인치,1129,100148
1675,200449,무이자 LG 울트라HD TV 70UK6800HNC,가전,2990000,2,울트라HD TV,70인치,LG,NaN,TV,70UK6800HNC,nan,LG 울트라HD TV 70인치,1129,100148
1676,200451,무이자 LG 울트라HD TV 70UK7400KNA,가전,2990000,2,울트라HD TV,70인치,LG,NaN,TV,70UK7400KNA,nan,LG 울트라HD TV 70인치,1129,100148
1677,200452,무이자 LG 울트라HD TV 70UK7400KNA,가전,2790000,2,울트라HD TV,70인치,LG,NaN,TV,70UK7400KNA,nan,LG 울트라HD TV 70인치,1129,100148
1678,200450,무이자 LG 울트라HD TV 70UK7400KNA,가전,2690000,2,울트라HD TV,70인치,LG,NaN,TV,70UK7400KNA,nan,LG 울트라HD TV 70인치,1129,100148
1679,200453,무이자 LG 울트라HD TV 70UK7400KNA,가전,2690000,2,울트라HD TV,70인치,LG,NaN,TV,70UK7400KNA,nan,LG 울트라HD TV 70인치,1129,100148
1680,200454,무이자 LG 울트라HD TV 70UK7400KNA,가전,2690000,2,울트라HD TV,70인치,LG,NaN,TV,70UK7400KNA,nan,LG 울트라HD TV 70인치,1129,100148
1681,200455,무이자 LG 울트라HD TV 70UK7400KNA,가전,2690000,2,울트라HD TV,70인치,LG,NaN,TV,70UK7400KNA,nan,LG 울트라HD TV 70인치,1129,100148
1705,200515,일시불 LG 울트라HD TV 70UK6800HNC,가전,2700000,1,울트라HD TV,70인치,LG,NaN,TV,70UK6800HNC,nan,LG 울트라HD TV 70인치,1129,100148
1706,200516,일시불 LG 울트라HD TV 70UK6800HNC,가전,2700000,1,울트라HD TV,70인치,LG,NaN,TV,70UK6800HNC,nan,LG 울트라HD TV 70인치,1129,100148
1707,200518,일시불 LG 울트라HD TV 70UK7400KNA,가전,2700000,1,울트라HD TV,70인치,LG,NaN,TV,70UK7400KNA,nan,LG 울트라HD TV 70인치,1129,100148
1708,200519,일시불 LG 울트라HD TV 70UK7400KNA,가전,2500000,1,울트라HD TV,70인치,LG,NaN,TV,70UK7400KNA,nan,LG 울트라HD TV 70인치,1129,100148
1709,200517,일시불 LG 울트라HD TV 70UK7400KNA,가전,2400000,1,울트라HD TV,70인치,LG,NaN,TV,70UK7400KNA,nan,LG 울트라HD TV 70인치,1129,100148
1710,200520,일시불 LG 울트라HD TV 70UK7400KNA,가전,2400000,1,울트라HD TV,70인치,LG,NaN,TV,70UK7400KNA,nan,LG 울트라HD TV 70인치,1129,100148
1711,200521,일시불 LG 울트라HD TV 70UK7400KNA,가전,2400000,1,울트라HD TV,70인치,LG,NaN,TV,70UK7400KNA,nan,LG 울트라HD TV 70인치,1129,100148
1712,200522,일시불 LG 울트라HD TV 70UK7400KNA,가전,2400000,1,울트라HD TV,70인치,LG,NaN,TV,70UK7400KNA,nan,LG 울트라HD TV 70인치,1129,100148

In [462]:
# 같은 LG 노트북 그램 15인치여도 스펙에 따라(본 상품코드가 다름) 가격에서 차이가 발생하긴함
meta.loc[meta['NEW상품명'] == 'LG 노트북 그램 15인치']

,상품코드,상품명,상품군,판매단가,결제방법,상품명다시,단위,브랜드,옵션,종류,모델명,성별,NEW상품명,NEW상품코드,마더코드
1638,200428,무이자 LG 노트북 그램 15인치 15Z980-G.AR3DK,가전,1649000,2,노트북 그램,15인치,LG,NaN,노트북,15Z980-G.AR3DK,nan,LG 노트북 그램 15인치,1120,100151
1639,200429,무이자 LG 노트북 그램 15인치 15Z980-L.AR1DK,가전,1420000,2,노트북 그램,15인치,LG,NaN,노트북,15Z980-L.AR1DK,nan,LG 노트북 그램 15인치,1120,100151
1640,200495,일시불 LG 노트북 그램 15인치 15Z980-G.AR3DK,가전,1559000,1,노트북 그램,15인치,LG,NaN,노트북,15Z980-G.AR3DK,nan,LG 노트북 그램 15인치,1120,100151
1641,200496,일시불 LG 노트북 그램 15인치 15Z980-L.AR1DK,가전,1330000,1,노트북 그램,15인치,LG,NaN,노트북,15Z980-L.AR1DK,nan,LG 노트북 그램 15인치,1120,100151

### 4) 동일 브랜드-상품군 가격 summary

In [26]:
brand = meta.groupby(['브랜드', '상품군']).agg({
    '판매단가' : [('상품군&브랜드_최고판매단가', np.max),
             ('상품군&브랜드_최저판매단가', np.min),
              ('상품군&브랜드_평균판매단가', np.mean),
              ('상품군&브랜드_중간판매단가', np.median),
             ('상품군&브랜드_최고-최저', lambda x : np.max(x) - np.min(x)),
             ('상품군&브랜드_표준편차', np.std),
              ('상품군&브랜드_분산', np.var)
             ]
}).reset_index()

In [27]:
brand.columns = prepColumn(brand)

In [28]:
brand.head()

,브랜드,상품군,상품군&브랜드_최고판매단가,상품군&브랜드_최저판매단가,상품군&브랜드_평균판매단가,상품군&브랜드_중간판매단가,상품군&브랜드_최고-최저,상품군&브랜드_표준편차,상품군&브랜드_분산
0,AAA,잡화,49800,49800,49800.000,49800,0,0.000,0.000
1,AAC,농수축,49900,49900,49900.000,49900,0,0.000,0.000
2,AAD,잡화,39000,29000,32333.333,29000,10000,5163.978,26666666.667
3,AHC,이미용,59900,59900,59900.000,59900,0,nan,nan
4,BBC&IZUMI,속옷,109000,109000,109000.000,109000,0,nan,nan

### 5) 해당 상품군 평균과 가격과의 차이

### 6)상품군별 가격대 설정

In [29]:
for c in item['상품군'].unique():
    item.loc[item['상품군'] == c, '상품군_가격대'] = pd.qcut(item.loc[item['상품군'] == c, 'NEW_최고판매단가'], q = 3, labels = False)

In [30]:
item['전체_가격대'] = pd.qcut(item['NEW_최고판매단가'], q = 5, labels = False)

In [31]:
item

,NEW상품코드,NEW상품명,상품군,NEW_최고판매단가,NEW_최저판매단가,NEW_평균판매단가,NEW_중간판매단가,NEW_최고-최저,NEW_분산,NEW_표준편차,상품군_가격대,전체_가격대
0,0,가이거 남성 블랙 에디션 다이아몬드 워치,잡화,178000,178000,178000.000,178000,0,0.000,0.000,1.000,3
1,1,가이거 무빙스타 다이아몬드 워치,잡화,129000,119000,124000.000,124000,10000,50000000.000,7071.068,1.000,3
2,2,가이거 무빙스타 다이아몬드 워치 + 보석함,잡화,119000,99000,109000.000,109000,20000,200000000.000,14142.136,1.000,3
3,3,가이거 여성 블랙 에디션 다이아몬드 워치,잡화,178000,178000,178000.000,178000,0,0.000,0.000,1.000,3
4,4,가이거 제니스시계 주얼리세트,잡화,139000,129000,134000.000,134000,10000,50000000.000,7071.068,1.000,3
...,...,...,...,...,...,...,...,...,...,...,...,...
1359,1359,AAB의 든든한 콩국수,농수축,39900,39900,39900.000,39900,0,0.000,0.000,0.000,0
1360,1360,AAB의 소곱창 전골 800g 8팩,농수축,55900,55900,55900.000,55900,0,0.000,0.000,2.000,1
1361,1361,AAE LA 갈비 7팩,농수축,69900,69900,69900.000,69900,0,0.000,0.000,2.000,2
1362,1362,IH 옛 가마솥 세트,주방,62000,62000,62000.000,62000,0,0.000,0.000,0.000,2
1363,1363,OK 근육통완화 동전패치,생활용품,39900,39900,39900.000,39900,0,0.000,0.000,0.000,0

## 1-3. 성별

In [468]:
# 상품별 성별 비중
meta['NEW상품명'].apply(lambda x : 1 if '남성' in x else (2 if '여성' in x else 0)).value_counts()

0    1523
2     291
1     228
Name: NEW상품명, dtype: int64

In [483]:
sale['NEW상품명'].apply(lambda x : 1 if '남성' in x else (2 if '여성' in x else 0)).value_counts()

0    29843
1     3789
2     3740
Name: NEW상품명, dtype: int64

# 2. 데이터 저장

In [32]:
meta.to_excel(os.path.join('..', '0.Data', '01_제공데이터', 'sale_meta_v04_0823.xlsx'), index = False)
sale.to_excel(os.path.join('..', '0.Data', '01_제공데이터', 'sale_data_v04_0823.xlsx'), index = False)
item.to_excel(os.path.join('..', '0.Data', '01_제공데이터', 'item_meta_v03_0823.xlsx'), index = False)

In [33]:
import joblib

In [34]:
joblib.dump({
    'itemcategory' : itemcategory,
    'mothercode' : mothercode,
    'brand' : brand
    
}, os.path.join('..', '0.Data', '01_제공데이터', '0823_prep4data.pkl'))

['../0.Data/01_제공데이터/0823_prep4data.pkl']