In [1]:
import os
import numpy as np
import pandas as pd

- w : 기상 데이터 (출처 : 기상자료개방포털)
- df1 : 소매업태별 판매액지수 (출처 : KOSIS)
- df2 : 소비자동향조사 전국 (출처 : KOSIS)
- df3 : 온라인쇼핑몰 판매매체별 상품군별거래액 (출처 : KOSIS)
- df4 : 지역별 소비유형별 개인 신용카드 (출처 : KOSIS)

In [3]:
w = pd.read_csv(os.path.join('..', '..', '0.Data', '03_외부데이터', '2019_weather.csv'), encoding = 'cp949', index_col = 0)
df1 = pd.read_excel(os.path.join('..', '..', '0.Data', '03_외부데이터', '소매업태별 판매액지수.xlsx'))
df2 = pd.read_excel(os.path.join('..', '..', '0.Data', '03_외부데이터', '소비자동향조사 전국.xlsx'))
df3 = pd.read_excel(os.path.join('..', '..', '0.Data', '03_외부데이터', '온라인쇼핑몰 판매매체별 상품군별거래액.xlsx'))
df4 = pd.read_excel(os.path.join('..', '..', '0.Data', '03_외부데이터', '지역별 소비유형별 개인 신용카드.xlsx'))

/Users/jinseok/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# df3 : 온라인쇼핑몰 판매매체별 상품군별거래액

In [4]:
df3 = df3.T

In [5]:
df3.columns = list(map(lambda x : '_'.join(x), zip(df3.loc['판매매체별'].values, df3.loc['상품군별'].values)))

In [6]:
df3 = df3.drop(['상품군별', '판매매체별'])

In [7]:
df3.index = list(map(lambda x : x.replace(' ', '')[:7].replace('.', '-'), df3.index))

In [8]:
df3.head()

,계_합계,인터넷쇼핑_합계,모바일쇼핑_합계,계_컴퓨터 및 주변기기,인터넷쇼핑_컴퓨터 및 주변기기,모바일쇼핑_컴퓨터 및 주변기기,계_가전·전자·통신기기,인터넷쇼핑_가전·전자·통신기기,모바일쇼핑_가전·전자·통신기기,계_서적,...,모바일쇼핑_e쿠폰서비스,계_음식서비스,인터넷쇼핑_음식서비스,모바일쇼핑_음식서비스,계_기타서비스,인터넷쇼핑_기타서비스,모바일쇼핑_기타서비스,계_기타,인터넷쇼핑_기타,모바일쇼핑_기타
2020-06,12671131,4207201,8463930,534769,321914,212855,1565930,603256,962675,171414,...,268429,1252370,63798,1188572,94587,39884,54703,365280,145996,219284
2020-05,12725057,4045841,8679215,590327,349022,241305,1596397,618490,977907,170666,...,296040,1320396,83178,1237218,89886,35082,54803,389398,162870,226529
2020-04,12065537,4023773,8041765,645276,364862,280414,1382427,578468,803959,206282,...,295604,1263018,72737,1190281,114533,45916,68617,318471,136878,181594
2020-03,12624728,4138678,8486051,687759,387538,300221,1480356,598541,881815,255531,...,301095,1251923,66117,1185806,64542,27840,36702,387031,185529,201502
2020-02,11963252,3850850,8112402,616468,341426,275042,1392368,563716,828652,191346,...,289779,1135018,63931,1071088,145624,59394,86230,380936,162845,218091

# df2 : 소비자동향조사 전국

In [15]:
selected = list(map(lambda x : x.strip(), (input().split(','))))

 현재생활형편CSI , 현재경기판단CSI , 생활형편전망CSI , 소비지출전망CSI , 주택가격전망CSI , 임금수준전망CSI , 소비자심리지수

In [27]:
selected

['현재생활형편CSI',
 '현재경기판단CSI',
 '생활형편전망CSI',
 '소비지출전망CSI',
 '주택가격전망CSI',
 '임금수준전망CSI',
 '소비자심리지수']

In [32]:
df2 = df2.loc[df2['분류코드별'] == '전체']

In [35]:
df2 = df2.reset_index(drop = True)

In [40]:
df2.index = df2['지수코드별']

In [42]:
df2 = df2.T.drop(['지수코드별', '분류코드별'])

In [52]:
df2.columns = list(map(lambda x : x.strip(), df2.columns))

In [54]:
df2 = df2[selected]

In [60]:
df2.head()

         현재생활형편CSI 현재경기판단CSI 생활형편전망CSI 소비지출전망CSI 주택가격전망CSI 임금수준전망CSI 소비자심리지수
2020. 07        85        49        87        95       125       110      84
2020. 06        84        44        87        93       112       105      82
2020. 05        79        36        85        91        96       104      78
2020. 04        77        31        79        87        96       102      71
2020. 03        83        38        83        93       112       109      78

# df4 : 지역별 소비유형별 개인 신용카드

In [56]:
regional_consumed = pd.pivot_table(df4, index = '날짜', columns = '지역', values = '금액')

In [57]:
categorical_consumed = pd.pivot_table(df4, index = '날짜', columns = '소비유형', values = '금액')

In [58]:
categorical_consumed.index.name = None

In [59]:
regional_consumed.index.name = None

In [61]:
# 소비유형별 월별 개인 신용카드 지출내역
categorical_consumed.head()

소비유형,Accommodation,Accommodation/Food Services,Airlines,Books/Stationery,Clothing/Miscellaneous Goods,Convenience Stores,Cosmetics,Department Stores,Discount Stores/Other Superstores,Domestic Motor Vehicles (New Products),...,Public Transportation,Recreation/Culture,Restaurants/Other Food Services,Sports/Recreation/Leisure,Supermarkets,Total,Transport,Travel Agencies/Vehicle Rental,Utility Charges/Personal and Professional Services,Watches/Jewellery/Eyeglasses
201901,15980.750000,294713.416667,28900.750000,17030.611111,64969.194444,37947.333333,14062.638889,72251.472222,152354.250000,81674.388889,...,32734.444444,68272.888889,278732.638889,51242.416667,112289.277778,2.576979e+06,71521.888889,9886.750000,304904.583333,11563.500000
201902,13465.000000,257527.500000,24395.805556,15262.277778,57633.361111,33870.333333,12114.833333,65887.805556,138250.888889,74941.027778,...,29217.166667,63405.722222,244062.472222,48143.527778,100494.194444,2.239546e+06,60300.472222,6687.472222,217737.861111,10776.500000
201903,13298.638889,296086.333333,25432.277778,21748.388889,71213.250000,39476.888889,14447.055556,77504.027778,149656.750000,100043.722222,...,31389.944444,83193.277778,282787.694444,61444.916667,107276.166667,2.551792e+06,63685.861111,6863.583333,232540.638889,13070.944444
201904,13495.444444,288666.638889,25602.583333,15983.250000,68949.583333,40668.527778,13701.222222,73458.472222,146463.166667,96854.138889,...,34478.805556,78617.555556,275171.194444,62634.277778,108647.666667,2.502460e+06,67069.277778,6987.916667,254839.277778,12127.833333
201905,14790.666667,314655.527778,25671.083333,16059.416667,75534.694444,44383.388889,14361.611111,79742.861111,160033.527778,92440.805556,...,34988.138889,85897.194444,299865.055556,69837.750000,112953.277778,2.644259e+06,68138.333333,7479.027778,250810.833333,13351.472222

In [62]:
# 지역별 월별 개인 신용카드 지출내역
regional_consumed.head()

지역,Busan,Chungbuk,Chungnam,Daegu,Daejeon,Gangwon,Gwangju,Gyeongbuk,Gyeonggi,Gyeongnam,Incheon,Jeju,Jeonbuk,Jeonnam,Seoul,Total,Ulsan,Unclassified
201901,65720.939024,22184.695122,36158.878049,39996.487805,33057.304878,25659.634146,28536.182927,32917.170732,314721.658537,46736.609756,47953.170732,17146.963415,25879.353659,22663.060976,639677.841463,1.425406e+06,16748.500000,9647.609756
201902,58316.329268,20166.695122,32416.792683,36101.975610,28892.097561,22555.890244,25716.878049,29990.000000,279927.353659,41541.414634,42553.231707,14759.939024,23309.878049,20682.085366,543864.670732,1.243899e+06,14741.768293,8361.853659
201903,65152.390244,23454.073171,37933.402439,40482.597561,32526.756098,24441.256098,29822.768293,33914.914634,325625.682927,47236.524390,48586.682927,16305.365854,25819.121951,23458.012195,619941.646341,1.420656e+06,16646.256098,9308.560976
201904,62292.292683,23164.560976,38254.109756,39204.634146,30890.195122,23605.951220,28260.621951,33332.243902,309090.000000,45992.414634,46900.743902,16635.487805,25177.695122,23111.768293,619939.219512,1.390761e+06,16108.243902,8801.402439
201905,67221.414634,25279.524390,41590.585366,42040.304878,32854.134146,27166.231707,29775.243902,36401.768293,315194.914634,49964.024390,49551.670732,17751.317073,27635.512195,25306.853659,655818.573171,1.473079e+06,17436.512195,12090.280488

# df1 : 소매업태별 판매액지수

In [172]:
df1 = pd.read_excel(os.path.join('..', '0.Data', '03_외부데이터', '소매업태별 판매액지수.xlsx'))

In [64]:
df1['업태별'] = df1['업태별'].apply(lambda x : x.strip())

In [65]:
df1.columns = ['업태별'] + list(map(lambda x : x.replace(' ','')[:7], df1.columns[1:]))

In [66]:
t = df1.loc[[0,19]].T.drop('업태별').reset_index()

In [67]:
t = t.loc[t[19] != '-']

In [68]:
t[19] = t[19].astype(float)

In [69]:
df1 = pd.pivot_table(t, index = 'index', columns = 0, values = 19)

In [70]:
df1.columns = ['경상지수', '불변지수']

In [71]:
df1.index.name = None

In [72]:
df1

          경상지수   불변지수
2019.01  142.2  139.3
2019.02  116.1  113.3
2019.03  137.0  134.0
2019.04  133.5  130.1
2019.05  137.1  133.8
2019.06  125.8  123.4
2019.07  127.2  124.7
2019.08  123.1  120.3
2019.09  127.6  124.3
2019.10  143.0  139.0
2019.11  142.0  138.8
2019.12  141.8  138.0
2020.01  136.2  131.7
2020.02  134.4  130.0
2020.03  151.2  146.1
2020.04  137.8  133.3
2020.05  144.7  139.8
2020.06  143.0  139.2

# 날짜 형식 통일

: 모두 년도와 월로 구분해야함

In [116]:
def makeDate(df):
    df = df.reset_index().rename(columns = {'index' : '날짜'})
    if type(df['날짜'][0]) == str:
        df['날짜'] = pd.to_datetime(df['날짜'])
    else:
        df['날짜'] = df['날짜'].astype(str).apply(lambda x : '-'.join((x[:4],x[4:])))
        df['날짜'] = pd.to_datetime(df['날짜'])
    df['년도'] = df['날짜'].dt.year
    df['월'] = df['날짜'].dt.month
    return df

In [118]:
df1 = makeDate(df1)
df2 = makeDate(df2)
df3 = makeDate(df3)
df4_a = makeDate(regional_consumed)
df4_b = makeDate(categorical_consumed)

In [119]:
df1.shape, df2.shape, df3.shape, df4_a.shape, df4_b.shape,

((18, 5), (19, 10), (18, 75), (17, 21), (17, 44))

# 저장

In [308]:
# 신용카드 실적에 대한 정보다 2020년 5월까지 밖에 없음

In [158]:
df1= df1.sort_values('날짜').reset_index(drop = True)
df2 = df2.sort_values('날짜').reset_index(drop = True)
df3= df3.sort_values('날짜').reset_index(drop = True)
df4_a= df4_a.sort_values('날짜').reset_index(drop = True)
df4_b= df4_b.sort_values('날짜').reset_index(drop = True)

In [171]:
df = df1.merge(df2, on = ['날짜', '년도', '월'], how = 'outer').merge(df3, on = ['날짜', '년도', '월'], how = 'outer').merge(df4_a, on = ['날짜', '년도', '월'], how = 'outer').merge(df4_b, on = ['날짜', '년도', '월'], how = 'outer')

In [172]:
df.to_excel(os.path.join('..', '..', '0.Data', '03_외부데이터', '전처리','prep_1차외부데이터_0901.xlsx'), index = False)