In [11]:
import os
import sys
import joblib
import FE_0823 as FE
import numpy as np
import pandas as pd
from tqdm import tqdm

In [12]:
import imp
imp.reload(FE)

In [13]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [14]:
sale = pd.read_excel(os.path.join('..', '..', '0.Data', '01_제공데이터', 'sale_data_v05_0828.xlsx'))
meta = pd.read_excel(os.path.join('..', '..', '0.Data', '01_제공데이터', 'sale_meta_v04_0823.xlsx'))
item = pd.read_excel(os.path.join('..', '..', '0.Data', '01_제공데이터', 'item_meta_v04_0828.xlsx'))

In [15]:
sale.shape, meta.shape, item.shape

((38309, 16), (2042, 15), (1364, 15))

# 01. Feature Engineering

In [16]:
sale = FE.engineering_TimeDiff(sale)

In [17]:
sale = FE.engineering_Soldout(sale)

In [18]:
sale = FE.engineering_DatePrice(sale)

연도입력

 2019

In [19]:
sale = FE.engineering_trend(sale)

/Users/jinseok/opt/anaconda3/lib/python3.7/site-packages/numpy/lib/polynomial.py:630: RuntimeWarning: invalid value encountered in true_divide
  lhs /= scale

# 02. 외부데이터 불러오기

In [10]:
# 경제지표 가져오기(월별)

In [20]:
df_eco = pd.read_excel(os.path.join('..', '..', '0.Data', '03_외부데이터', '전처리', 'prep_1차외부데이터_0827.xlsx'))

In [21]:
# 날씨 데이터 가져오기(시간별)

In [22]:
df_wth = pd.read_csv(os.path.join('..', '..', '0.Data', '03_외부데이터', '전처리', 'prep_2019_pb_weather.csv'), encoding = 'cp949')

In [23]:
# 미세먼지 데이터 가져오기

In [24]:
df_dust = pd.read_csv(os.path.join('..', '..', '0.Data', '03_외부데이터', '전처리', 'prep_2019_pb_dust.csv'), encoding = 'cp949')

# 03. 임베딩 데이터 불러오기

In [25]:
emb = pd.read_excel(os.path.join('..', '..', '0.Data', '04_임베딩데이터', 'version3_dim30.xlsx'), index_col = 0)

In [26]:
sale = sale.merge(emb.drop_duplicates(), on = 'NEW상품명', how = 'left')

# 04. 데이터 합치기

In [27]:
df_eco['방송년도'] = pd.to_datetime(df_eco['날짜']).dt.year
df_eco['방송월'] = pd.to_datetime(df_eco['날짜']).dt.month

In [28]:
data = sale.merge(df_eco[df_eco['방송년도'] == 2019], on = '방송월', how = 'left')

In [29]:
df_wth['날짜'] = pd.to_datetime(df_wth['날짜'])

In [30]:
df_wth['월'] = df_wth['날짜'].dt.month
df_wth['일'] = df_wth['날짜'].dt.day
df_wth['시간'] = df_wth['날짜'].dt.hour.apply(lambda x : 24 if x == 0 else x)

In [31]:
data['방송일'] = data['방송일시'].dt.day

In [32]:
data = data.merge(df_wth, left_on = ['방송월', '방송일', '방송시간(시간)'], right_on = ['월', '일', '시간'], how ='left')

In [33]:
data.shape

(38309, 668)

In [34]:
df_dust['날짜'] = pd.to_datetime(df_dust['날짜'])

In [35]:
df_dust['월'] = df_dust['날짜'].dt.month
df_dust['일'] = df_dust['날짜'].dt.day
df_dust['시간'] = df_dust['날짜'].dt.hour.apply(lambda x : 24 if x == 0 else x)

In [36]:
data = data.merge(df_dust, left_on = ['월', '일', '시간'], right_on = ['월', '일', '시간'], how ='left')

In [37]:
categorys = ['결제방법', '상품군_가격대', '전체_가격대', '상품군', '방송시간(시간)']
drop_columns = ['방송일시','마더코드', '상품명', 'NEW상품코드', 'NEW상품명', '단위', '브랜드', '취급액', '상품코드', '옵션', '종류', '방송일']

In [38]:
for c in categorys:
    data[c] = data[c].astype(str)

In [39]:
data = data.loc[data['상품군'] != '무형']

In [40]:
y = data['취급액']
temp = data[drop_columns]
data = data.drop(drop_columns, axis = 1)

In [41]:
data['log최근3개월상품군추세'] = data['log최근3개월상품군추세'].astype(float)

In [42]:
data = data.drop(['월', '일', '시간', '날짜', '날짜_x', '날짜_y', '상품명다시'], axis = 1)

In [43]:
X = pd.get_dummies(data)

In [44]:
X.shape, y.shape

((37372, 749), (37372,))

In [54]:
X.isnull().sum().sort_values().tail(60)

최저운고(100m )_부산         19797
최저운고(100m )_경기_파주      20486
일조 QC플래그_경기_수원         21369
일조 QC플래그_대구            21372
일조 QC플래그_대전            21471
일조 QC플래그_울산            21491
일조 QC플래그_부산            21510
일조 QC플래그_경기_이천         21530
일조 QC플래그_인천_인천         21532
일조 QC플래그_서울            21543
일조 QC플래그_경기_파주         21552
일조 QC플래그_경기_동두천        21553
일조 QC플래그_경기_양평         21557
일조 QC플래그_광주            21567
일조 QC플래그_인천_강화         21678
일조 QC플래그_인천_백령도        22076
현상번호(국내식)_인천_인천        22403
최저운고(100m )_경기_이천      23511
현상번호(국내식)_경기_수원        23899
최저운고(100m )_인천_강화      23908
현상번호(국내식)_서울           24806
현상번호(국내식)_대전           25277
현상번호(국내식)_인천_백령도       25448
현상번호(국내식)_광주           26133
현상번호(국내식)_대구           27465
최저운고(100m )_경기_양평      28318
현상번호(국내식)_울산           28528
현상번호(국내식)_부산           28872
강수량 QC플래그_광주           28957
강수량 QC플래그_대전           29385
강수량 QC플래그_경기_수원        29710
강수량 QC플래그_서울           29713
강수량 QC플래그_인천_인천        30118
강수량 QC플래그_경기_동두천       30638
강수량 QC플래그_울산           30645
강수량 QC플래그_인천_백령도       30693
강수량 QC플래그_경기_이천        30804
강수량 QC플래그_경기_파주        30875
강수량 QC플래그_인천_강화        31149
강수량 QC플래그_대구           31248
강수량 QC플래그_경기_양평        31329
강수량 QC플래그_부산           31362
강수량(mm)_울산             33445
강수량(mm)_부산             33757
강수량(mm)_광주             33837
강수량(mm)_서울             33883
강수량(mm)_경기_수원          33930
강수량(mm)_대전             33959
강수량(mm)_인천_인천          34182
강수량(mm)_대구             34321
강수량(mm)_경기_동두천         34574
강수량(mm)_인천_강화          34684
강수량(mm)_경기_파주          34686
강수량(mm)_인천_백령도         34749
강수량(mm)_경기_이천          35078
강수량(mm)_경기_양평          35194
30cm 지중온도(°C)_경기_수원    37366
10cm 지중온도(°C)_경기_수원    37366
5cm 지중온도(°C)_경기_수원     37366
20cm 지중온도(°C)_경기_수원    37366
dtype: int64

In [45]:
import joblib

In [46]:
joblib.dump({
    'X' : X,
    'y' : y
}, os.path.join('..', '..', '0.Data', '05_분석데이터', 'Snd_FE.pkl') )

['../../0.Data/05_분석데이터/Snd_FE.pkl']