In [1]:
import os
import sys
import joblib
import FE_0823 as FE
import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
import imp
imp.reload(FE)

In [3]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [4]:
sale = pd.read_excel(os.path.join('..', '..', '0.Data', '01_제공데이터', 'sale_data_v05_0828.xlsx'))
meta = pd.read_excel(os.path.join('..', '..', '0.Data', '01_제공데이터', 'sale_meta_v04_0823.xlsx'))
item = pd.read_excel(os.path.join('..', '..', '0.Data', '01_제공데이터', 'item_meta_v04_0828.xlsx'))

# 1. FE

In [48]:
sale = sale.merge(item[['NEW상품명', 'NEW_최고판매단가']], on = 'NEW상품명', how = 'left')

In [47]:
sale['판매량01'] = sale['취급액'] / sale['판매단가']

In [50]:
sale['판매량02'] = sale['취급액'] / sale['NEW_최고판매단가']

In [52]:
temp.columns = ['NEW상품명', '판매량01', '판매량02']

In [53]:
import math

In [54]:
sale['판매량01'] = sale['판매량01'].fillna(0).apply(lambda x : math.ceil(x))

In [51]:
temp = sale.groupby('NEW상품명').agg({
    '판매량01' : [('판매량01', np.mean)],
    '판매량02' : [('판매량02', np.mean)]
}).reset_index()

In [46]:
temp.columns = ['NEW상품명', '평균판매량01', '평균판매량02']

In [44]:
# 같은 상품으로 설정한 경우에도 가격에 대한 주문량이 크게 차이나는 경우가 있음
abs(temp['판매량01'] - temp['판매량02']).sort_values()

549      0.016
1242     0.017
79       0.021
848      0.022
74       0.022
         ...
527    224.453
101    230.347
95     242.107
1064   301.909
598    554.511
Length: 1364, dtype: float64

In [56]:
sale['방송월'] = sale['방송일시'].dt.month

In [57]:
sale['방송시간'] = sale['방송일시'].dt.hour

In [58]:
sale['방송시간(분))'] = sale['방송일시'].dt.minute

In [88]:
temp.merge(item[['NEW상품명',  'NEW_최고판매단가']]).sort_values('판매량01')

                      NEW상품명    판매량01    판매량02  NEW_최고판매단가
375    루이띠에 18k 샤인클로버 주얼리 세트    1.672    1.672     3990000
377   루이띠에 18k 샤인클로버 팔찌반지 세트    1.681    1.681     2390000
372       루이띠에 18k 샤인클로버 목걸이    1.697    1.697     1290000
371       루이띠에 18k 샤인클로버 귀걸이    1.719    1.719      850000
929        유캐슬 마리노 침실가구 실속세트    1.917    1.917     1190000
..                       ...      ...      ...         ...
844              영산포숙성 홍어 7팩 1820.894 1820.894       29900
856              오델로 겨울모자 3종 1824.668 1824.668       29800
86   LG생활건강 샤프란아우라 고농축 섬유유연제 1921.570 1921.570       30900
890            완도꼬말활전복 1.3kg 2434.503 2434.503       29900
149            고창 꿀 고구마 10kg 2678.776 2678.776       30900

[1364 rows x 4 columns]

## 01. 판매량과 상품군별/방송월별/방송시간별/방송분별

In [60]:
pd.pivot_table(sale, index = '마더코드', columns = '방송월', values = '판매량01', aggfunc = np.sum).head(50)

방송월,1,2,3,4,5,6,7,8,9,10,11,12
마더코드,,,,,,,,,,,,
100000,nan,nan,nan,nan,nan,nan,nan,960.000,nan,nan,nan,nan
100001,880.000,650.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
100002,nan,nan,nan,nan,nan,nan,nan,nan,nan,2576.000,4242.000,4637.000
100006,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,4113.000,4844.000
100009,nan,nan,nan,nan,nan,nan,nan,2312.000,nan,nan,nan,nan
100010,nan,nan,nan,nan,34548.000,32879.000,39239.000,30507.000,24380.000,28107.000,10666.000,13107.000
100013,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,6335.000
100015,nan,nan,nan,nan,nan,nan,nan,2619.000,nan,nan,nan,nan
100016,1251.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
100017,nan,nan,2367.000,6619.000,4320.000,nan,nan,nan,nan,nan,nan,nan
100018,nan,nan,nan,nan,nan,nan,5800.000,4633.000,nan,nan,nan,nan
100019,nan,nan,nan,nan,nan,nan,nan,7964.000,nan,nan,nan,nan
100020,nan,nan,nan,nan,nan,nan,nan,nan,9619.000,2868.000,nan,nan
100021,nan,nan,nan,nan,nan,nan,18551.000,8252.000,nan,nan,nan,nan
100022,8526.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
100023,nan,nan,nan,696.000,nan,nan,nan,nan,nan,nan,nan,nan
100024,nan,nan,nan,nan,317.000,nan,nan,nan,nan,nan,nan,nan
100025,nan,nan,732.000,1063.000,nan,nan,nan,nan,693.000,626.000,nan,1460.000
100026,40375.000,nan,nan,nan,nan,nan,nan,21703.000,34900.000,nan,nan,nan
100027,nan,nan,nan,nan,nan,1104.000,nan,nan,nan,nan,nan,nan
100028,nan,nan,nan,nan,2313.000,nan,602.000,nan,nan,nan,nan,nan
100029,nan,nan,nan,nan,nan,nan,nan,nan,nan,2278.000,8806.000,2579.000
100031,nan,nan,nan,nan,nan,nan,nan,449.000,376.000,nan,nan,nan
100032,nan,nan,nan,nan,nan,nan,1219.000,4486.000,nan,nan,nan,nan
100033,nan,nan,nan,nan,nan,nan,nan,470.000,1503.000,305.000,166.000,nan
100034,nan,nan,nan,nan,nan,nan,7787.000,nan,nan,nan,830.000,543.000
100036,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,964.000
100037,nan,nan,nan,nan,nan,nan,1564.000,266.000,684.000,267.000,68.000,nan
100038,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,522.000
100039,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,173.000
100040,nan,nan,nan,nan,992.000,275.000,nan,nan,nan,nan,nan,nan
100041,4797.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
100042,nan,nan,nan,nan,nan,5670.000,11588.000,nan,nan,nan,nan,nan
100043,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1006.000,1385.000
100044,nan,nan,nan,nan,nan,nan,nan,661.000,412.000,nan,nan,nan
100045,nan,nan,nan,nan,nan,nan,nan,nan,673.000,nan,nan,nan
100046,nan,nan,nan,nan,nan,nan,nan,5247.000,41572.000,4312.000,27267.000,28549.000
100047,nan,nan,nan,nan,nan,nan,nan,nan,nan,349.000,nan,nan
100048,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,128.000,nan
100049,2024.000,4702.000,73.000,nan,nan,nan,nan,2249.000,217.000,nan,187.000,nan
100050,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,3134.000
100051,nan,nan,nan,nan,nan,nan,nan,nan,nan,1068.000,839.000,nan
100052,nan,nan,nan,nan,nan,nan,nan,nan,2863.000,13016.000,1774.000,1484.000
100053,nan,nan,nan,nan,nan,nan,nan,nan,2084.000,1846.000,nan,nan
100054,1970.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
100055,nan,nan,nan,nan,2344.000,19490.000,17352.000,1339.000,nan,nan,nan,nan
100056,nan,nan,nan,nan,nan,nan,nan,275.000,nan,nan,nan,nan
100057,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,651.000,943.000
100058,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,204.000,nan
100061,nan,nan,nan,nan,nan,nan,746.000,nan,nan,nan,nan,3284.000

In [48]:
t = pd.pivot_table(sale, index = '상품군', columns = '방송월', values = '판매량01', aggfunc = np.mean).T.reset_index()

In [61]:
t.columns = [t.columns[0]] + list(map(lambda x : '월별판매랑_' + x, t.columns[1:]))

In [62]:
t

,방송월,월별판매랑_가구,월별판매랑_가전,월별판매랑_건강기능,월별판매랑_농수축,월별판매랑_생활용품,월별판매랑_속옷,월별판매랑_의류,월별판매랑_이미용,월별판매랑_잡화,월별판매랑_주방,월별판매랑_침구
0,1,nan,19.466,222.693,938.878,254.853,348.967,311.434,885.067,179.394,158.744,nan
1,2,23.161,19.608,376.909,931.321,249.899,222.287,365.369,782.241,414.015,177.517,nan
2,3,19.139,16.166,367.403,873.390,317.130,272.710,313.987,858.934,452.432,160.941,nan
3,4,18.013,14.003,320.049,941.094,188.501,366.830,363.338,713.788,292.221,180.626,68.996
4,5,16.559,13.855,273.655,924.774,225.835,452.340,432.345,838.846,212.994,193.959,156.276
5,6,17.462,16.306,458.194,980.591,314.850,430.776,416.835,812.840,249.409,197.926,225.599
6,7,20.095,18.070,408.676,927.736,165.754,334.813,463.598,782.084,227.711,206.867,169.894
7,8,21.302,22.773,271.628,964.770,112.514,539.230,588.603,490.865,176.488,185.927,160.269
8,9,24.749,23.398,394.480,986.864,142.115,272.662,294.576,637.136,192.450,178.280,43.529
9,10,24.068,25.186,388.529,984.740,191.792,413.886,325.701,703.833,223.494,180.734,113.861
10,11,20.950,30.050,352.627,1046.681,149.626,392.585,401.316,982.068,281.196,222.262,116.724
11,12,10.724,42.929,521.805,1111.250,129.951,346.380,421.645,947.801,292.198,272.389,nan

In [71]:
pd.pivot_table(sale, index = '상품군', columns = '방송시간', values = '판매량01', aggfunc = np.mean).T.reset_index()

상품군,방송시간,가구,가전,건강기능,농수축,무형,생활용품,속옷,의류,이미용,잡화,주방,침구
0,0,1909.000,984.000,5848.000,11951.000,0.000,25705.000,87747.000,90406.000,43271.000,29517.000,6728.000,362.000
1,1,1248.000,65.000,4159.000,39438.000,0.000,23752.000,66399.000,56521.000,35759.000,30785.000,2850.000,2164.000
2,2,5.000,nan,856.000,2775.000,0.000,2255.000,2998.000,2219.000,3910.000,991.000,613.000,296.000
3,6,159.000,nan,21841.000,6094.000,0.000,37123.000,54576.000,114423.000,24295.000,30848.000,37421.000,1366.000
4,7,91.000,206.000,71928.000,11002.000,0.000,33781.000,80785.000,181100.000,41685.000,89811.000,64349.000,nan
5,8,149.000,704.000,25154.000,3541.000,0.000,38892.000,87361.000,193106.000,52560.000,82427.000,78408.000,310.000
6,9,nan,775.000,21013.000,13425.000,0.000,34793.000,78955.000,195022.000,67783.000,100967.000,111742.000,nan
7,10,210.000,2631.000,13875.000,178818.000,0.000,19160.000,69335.000,120212.000,36707.000,89562.000,99398.000,2170.000
8,11,nan,1597.000,9380.000,242985.000,0.000,12610.000,102577.000,77105.000,21004.000,86203.000,87801.000,19210.000
9,12,496.000,2913.000,11190.000,118781.000,0.000,38880.000,45219.000,60067.000,81944.000,62197.000,106848.000,24370.000
10,13,nan,1770.000,18842.000,127230.000,0.000,33447.000,86413.000,82663.000,79532.000,108808.000,90412.000,18090.000
11,14,nan,2324.000,22653.000,138559.000,0.000,34463.000,104610.000,93273.000,68969.000,86669.000,81933.000,17754.000
12,15,nan,1147.000,5732.000,238366.000,0.000,12544.000,107173.000,80553.000,53338.000,54361.000,132150.000,10286.000
13,16,nan,1131.000,9244.000,758599.000,0.000,5493.000,15063.000,16250.000,79008.000,12029.000,77971.000,nan
14,17,nan,416.000,4152.000,877810.000,0.000,1473.000,9863.000,14022.000,33038.000,9470.000,63136.000,nan
15,18,nan,82.000,5851.000,610494.000,0.000,2593.000,18225.000,7555.000,27772.000,8322.000,37124.000,nan
16,19,731.000,4100.000,10063.000,101625.000,0.000,30813.000,136724.000,80071.000,82051.000,8424.000,55296.000,nan
17,20,5852.000,14529.000,15685.000,94642.000,0.000,38229.000,83372.000,77145.000,77340.000,14098.000,41985.000,nan
18,21,15266.000,30882.000,6611.000,107142.000,0.000,26103.000,42400.000,35476.000,57130.000,5935.000,33842.000,1125.000
19,22,11960.000,25840.000,570.000,73644.000,0.000,18635.000,61185.000,30710.000,34098.000,3154.000,35537.000,2938.000
20,23,8466.000,10683.000,10191.000,20996.000,0.000,32101.000,85994.000,61529.000,45679.000,12509.000,10698.000,2854.000

In [74]:
pd.pivot_table(sale, index = '상품군', columns = '방송시간(분))', values = '판매량01', aggfunc = np.mean).T.reset_index()

상품군,방송시간(분)),가구,가전,건강기능,농수축,무형,생활용품,속옷,의류,이미용,잡화,주방,침구
0,0,13.048,12.200,303.153,792.737,0.000,136.948,273.263,288.507,709.007,155.646,139.846,99.325
1,5,nan,29.042,nan,1050.000,nan,nan,nan,nan,nan,1026.000,nan,nan
2,10,nan,nan,nan,880.905,nan,256.200,421.452,57.283,194.500,356.118,nan,nan
3,15,nan,17.292,nan,612.167,nan,nan,nan,nan,nan,nan,nan,nan
4,20,15.534,13.764,354.275,963.700,0.000,161.428,328.253,390.907,746.075,278.892,172.568,158.019
5,30,5.318,10.651,172.333,791.516,0.000,165.287,688.223,248.141,896.762,49.419,380.005,115.267
6,35,nan,15.083,nan,796.000,nan,nan,nan,nan,nan,839.000,nan,nan
7,40,25.487,21.578,469.616,1167.815,0.000,229.824,425.525,518.489,959.210,407.464,244.063,212.498
8,45,nan,28.833,nan,799.000,nan,nan,nan,nan,nan,nan,nan,nan
9,50,6.538,20.803,198.500,1060.636,0.000,201.450,707.472,157.039,254.250,92.318,341.583,nan

# 2. 데이터 통합

In [4]:
sale = pd.read_excel(os.path.join('..', '..', '0.Data', '01_제공데이터', 'sale_data_v05_0828.xlsx'))
meta = pd.read_excel(os.path.join('..', '..', '0.Data', '01_제공데이터', 'sale_meta_v04_0823.xlsx'))
item = pd.read_excel(os.path.join('..', '..', '0.Data', '01_제공데이터', 'item_meta_v04_0828.xlsx'))

In [5]:
sale.shape, meta.shape, item.shape

((38309, 16), (2042, 15), (1364, 15))

In [6]:
sale = FE.engineering_TimeDiff(sale)

In [7]:
sale = FE.engineering_Soldout(sale)

In [8]:
sale = FE.engineering_DatePrice(sale)

연도입력

 2019

In [9]:
sale = FE.engineering_trendnorder(sale)

/Users/jinseok/opt/anaconda3/lib/python3.7/site-packages/numpy/lib/polynomial.py:630: RuntimeWarning: invalid value encountered in true_divide
  lhs /= scale

In [10]:
emb = pd.read_excel(os.path.join('..', '..', '0.Data', '04_임베딩데이터', 'version2_dim30.xlsx'), index_col = 0)
sale = sale.merge(emb.drop_duplicates(), on = 'NEW상품명', how = 'left')

In [11]:
sale.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,NEW상품코드,NEW상품명,...,v20,v21,v22,v23,v24,v25,v26,v27,v28,v29
0,2019-01-01 06:00:00,20.000,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.000,865.000,테이트 남성 셀린니트 3종,...,0.004,0.000,-0.004,0.002,-0.004,0.001,-0.000,0.009,0.003,0.003
1,2019-01-01 06:00:00,20.000,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.000,866.000,테이트 여성 셀린니트 3종,...,0.003,-0.002,-0.005,0.004,-0.003,-0.000,-0.001,0.006,0.005,-0.001
2,2019-01-01 06:20:00,20.000,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.000,865.000,테이트 남성 셀린니트 3종,...,0.004,0.000,-0.004,0.002,-0.004,0.001,-0.000,0.009,0.003,0.003
3,2019-01-01 06:20:00,20.000,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.000,866.000,테이트 여성 셀린니트 3종,...,0.003,-0.002,-0.005,0.004,-0.003,-0.000,-0.001,0.006,0.005,-0.001
4,2019-01-01 06:40:00,20.000,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.000,865.000,테이트 남성 셀린니트 3종,...,0.004,0.000,-0.004,0.002,-0.004,0.001,-0.000,0.009,0.003,0.003

In [12]:
df_eco = pd.read_excel(os.path.join('..', '..', '0.Data', '03_외부데이터', '전처리', 'prep_1차외부데이터_0901.xlsx'))
df_wth = pd.read_csv(os.path.join('..', '..', '0.Data', '03_외부데이터', '전처리', 'prep_2019_pb_weather.csv'), encoding = 'cp949')
df_dust = pd.read_csv(os.path.join('..', '..', '0.Data', '03_외부데이터', '전처리', 'prep_2019_pb_dust.csv'), encoding = 'cp949')

In [13]:
df_eco.shape, df_wth.shape, df_dust.shape

((19, 95), (8760, 95), (8760, 52))

In [14]:
data = sale.merge(df_eco[df_eco['년도'] == 2019], left_on = '방송월', right_on = '월', how = 'left').drop(['날짜', '월'], axis = 1)

In [15]:
data = data.merge(df_wth, left_on = ['방송월', '방송일', '방송시간(시간)'], right_on = ['월', '일', '시간'], how ='left').drop(['날짜', '월', '일', '시간'], axis = 1)

In [16]:
data = data.merge(df_dust, left_on = ['방송월', '방송일', '방송시간(시간)'], right_on = ['월', '일', '시간'], how ='left').drop(['날짜', '월', '일', '시간'], axis = 1)

In [17]:
categorys = ['결제방법', '상품군_가격대', '전체_가격대', '상품군', '방송시간(시간)', '성별']
drop_columns = ['방송일시','마더코드', '상품코드', '상품명', 'NEW상품코드', 'NEW상품명', '단위', '브랜드', '취급액', '상품코드', '옵션', '종류', '년도', '상품명다시', '방송날짜']

In [18]:
data[categorys] = data[categorys].astype(str)

In [19]:
# 예측 상품 중 판매가 0인 프로그램 실적은 예측에서 제외함 -> 무형 제외
data = data.loc[data['상품군'] != '무형']

In [20]:
# 주문이 0인, 취급액이 0인 데이터 제외함
data = data.loc[data['취급액'].notnull()]

In [21]:
y = data['취급액']
drop_data = data[drop_columns]
data = data.drop(drop_columns, axis = 1)

In [22]:
data['log최근3개월상품군추세'] = data['log최근3개월상품군추세'].astype(float)

In [23]:
X = pd.get_dummies(data)

In [24]:
X.shape, y.shape

((35379, 401), (35379,))

In [25]:
import joblib
joblib.dump({
    'X' : X,
    'y' : y
}, os.path.join('..', '..', '0.Data', '05_분석데이터', 'Thd_FE.pkl'))

['../../0.Data/05_분석데이터/Thd_FE.pkl']

In [25]:
import joblib
joblib.dump({
    'X' : X,
    'y' : y
}, os.path.join('..', '..', '0.Data', '05_분석데이터', 'Thd_FE_v2.pkl'))

['../../0.Data/05_분석데이터/Thd_FE_v2.pkl']