In [139]:
import os
import FE_extData as FEex
import FE_innData as FEin
import numpy as np
import pandas as pd

In [192]:
import imp
imp.reload(FEin)
imp.reload(FEex)

In [157]:
import math

In [158]:
df['판매량'] = df['취급액'] / df['판매단가']
df['판매량'] = df['판매량'].fillna(0).apply(lambda x : math.ceil(x))

In [178]:
df = FEin.engineering_timeSeries(df)

In [183]:
df.to_excel('./test.xlsx')

In [184]:
df_eco = FEex.preprocessing_economy()

In [189]:
w_19 = pd.read_csv(os.path.join('..', '..', '0.Data', '03_외부데이터', '2019_weather.csv'), encoding = 'cp949')
w_20 = pd.read_csv(os.path.join('..', '..', '0.Data', '03_외부데이터', '2020_weather.csv'), encoding = 'cp949')
df_wth = pd.concat([w_19, w_20], axis = 0)

/Users/jinseok/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [193]:
df_wth = FEex.preprocessing_weather(df_wth)

In [194]:
df_wth

,지점,지점명,일시,기온(°C),풍속(m/s),습도(%),시정(10m),지면온도(°C),강수량(mm),체감온도,연도,월,일,시간
0,108,서울,2019-01-01 01:00:00,-5.9,1.8,56.0,1569.0,-6.5,NaN,-9.033953,2019,1,1,1
1,108,서울,2019-01-01 02:00:00,-6.5,1.2,60.0,1462.0,-7.1,NaN,-8.546246,2019,1,1,2
2,108,서울,2019-01-01 03:00:00,-6.9,2.2,62.0,1281.0,-7.3,NaN,-10.810783,2019,1,1,3
3,108,서울,2019-01-01 04:00:00,-7.2,1.2,57.0,1195.0,-7.5,NaN,-9.332063,2019,1,1,4
4,108,서울,2019-01-01 05:00:00,-7.6,2.1,59.0,1248.0,-7.8,NaN,-11.483797,2019,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116923,159,부산,2020-08-31 19:00:00,25.2,3.9,72.0,1999.0,25.9,NaN,26.678550,2020,8,31,19
116924,159,부산,2020-08-31 20:00:00,24.8,3.7,72.0,2000.0,25.0,NaN,26.207584,2020,8,31,20
116925,159,부산,2020-08-31 21:00:00,24.6,3.4,71.0,2000.0,24.4,NaN,25.996145,2020,8,31,21
116926,159,부산,2020-08-31 22:00:00,24.5,3.2,74.0,2000.0,24.4,NaN,25.898661,2020,8,31,22
116927,159,부산,2020-08-31 23:00:00,24.5,3.4,73.0,2000.0,24.5,NaN,25.874799,2020,8,31,23

In [196]:
test = pd.read_excel(os.path.join('..', '..', '0.Data', '01_제공데이터', '수작업_meta.xlsx'))

In [200]:
test['성별'] = test['NEW상품명'].apply(lambda x : 1 if '남성' in x else (2 if '여성' in x else 0))

In [202]:
test.to_excel('./수작업_meta.xlsx', index = False)