In [139]:
import os
import FE_extData as FEex
import FE_innData as FEin
import numpy as np
import pandas as pd

In [310]:
import imp
imp.reload(FEin)
imp.reload(FEex)

In [157]:
import math

In [240]:
df_wth

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,98,동두천,2019.1.1 1:00,-10.5,0,NaN,NaN,1.6,NaN,20,...,NaN,1242,NaN,NaN,-8.4,0,NaN,NaN,NaN,NaN
1,98,동두천,2019.1.1 2:00,-10.8,0,NaN,NaN,1,NaN,360,...,NaN,1103,NaN,NaN,-8.8,0,NaN,NaN,NaN,NaN
2,98,동두천,2019.1.1 3:00,-11,0,NaN,NaN,0.6,NaN,110,...,NaN,1341,NaN,NaN,-9,0,NaN,NaN,NaN,NaN
3,98,동두천,2019.1.1 4:00,-11.6,0,NaN,NaN,0.3,NaN,0,...,NaN,1370,NaN,NaN,-9.3,0,NaN,NaN,NaN,NaN
4,98,동두천,2019.1.1 5:00,-11.6,0,NaN,NaN,0.7,NaN,50,...,50,1235,NaN,NaN,-9.3,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81979,203,이천,2020-08-31 19:00,26.6,NaN,NaN,NaN,1.9,NaN,160,...,12,2000,NaN,NaN,27.7,NaN,NaN,NaN,NaN,NaN
81980,203,이천,2020-08-31 20:00,26.1,NaN,NaN,NaN,1.9,NaN,140,...,11,2000,NaN,NaN,27.2,NaN,NaN,NaN,NaN,NaN
81981,203,이천,2020-08-31 21:00,25.4,NaN,NaN,NaN,1.6,NaN,110,...,13,2000,NaN,NaN,26.8,NaN,NaN,NaN,NaN,NaN
81982,203,이천,2020-08-31 22:00,24.9,NaN,NaN,NaN,1.7,NaN,110,...,13,2000,NaN,NaN,26,NaN,NaN,NaN,NaN,NaN
81983,203,이천,2020-08-31 23:00,24.8,NaN,NaN,NaN,1.9,NaN,140,...,22,2000,NaN,NaN,25.9,NaN,NaN,NaN,NaN,NaN

In [297]:
dust_2019 = pd.read_csv(os.path.join('..', '..', '0.Data', '03_외부데이터', '2019_dust.csv'), encoding = 'cp949')
dust_2020 = pd.read_csv(os.path.join('..', '..', '0.Data', '03_외부데이터', '2020_dust.csv'), encoding = 'cp949')
df_dust = pd.concat([dust_2019, dust_2020], axis = 0)

In [311]:
temp = FEex.preprocessing_dust(df_dust)

In [312]:
df_eco = FEex.preprocessing_economy()

In [319]:
df_eco.columns

Index(['날짜', '경상지수', '불변지수', '현재생활형편CSI', '현재경기판단CSI', '생활형편전망CSI',
       '소비지출전망CSI', '주택가격전망CSI', '임금수준전망CSI', '소비자심리지수', '합계', '컴퓨터 및 주변기기',
       '가전·전자·통신기기', '서적', '사무·문구', '의복', '신발', '가방', '패션용품 및 액세서리',
       '스포츠·레저용품', '화장품', '아동·유아용품', '음·식료품', '농축수산물', '생활용품', '자동차 및 자동차용품',
       '가구', '애완용품', '여행 및 교통서비스', '문화 및 레저서비스', 'e쿠폰서비스', '음식서비스', '기타서비스',
       '기타', 'Busan', 'Chungbuk', 'Chungnam', 'Daegu', 'Daejeon', 'Gangwon',
       'Gwangju', 'Gyeongbuk', 'Gyeonggi', 'Gyeongnam', 'Incheon', 'Jeju',
       'Jeonbuk', 'Jeonnam', 'Seoul', 'Total_x', 'Ulsan', 'Unclassified',
       'Accommodation', 'Accommodation/Food Services', 'Airlines',
       'Books/Stationery', 'Clothing/Miscellaneous Goods',
       'Convenience Stores', 'Cosmetics', 'Department Stores',
       'Discount Stores/Other Superstores',
       'Domestic Motor Vehicles (New Products)', 'Duty-free Shops',
       'Education', 'Electronic Commerce', 'Fashion Accessories',
       'Financial Services/Insurance', 'Food Products', 'Fuels', 'Furniture',
       'Furniture/Electrical Appliances', 'Garments/Clothing Materials',
       'General Food Products', 'General Hospitals', 'Health',
       'Health Additive Foods', 'Household Appliances/Communication Equipment',
       'Motor Vehicle Services', 'Motor Vehicles',
       'Non-specialized Retail Stores', 'Other Goods and Services',
       'Other Health Facilities', 'Other Vehicles', 'Public Transportation',
       'Recreation/Culture', 'Restaurants/Other Food Services',
       'Sports/Recreation/Leisure', 'Supermarkets', 'Total_y', 'Transport',
       'Travel Agencies/Vehicle Rental',
       'Utility Charges/Personal and Professional Services',
       'Watches/Jewellery/Eyeglasses', '연도', '월'],
      dtype='object')

In [320]:
df_eco.iloc[:,34:-2]

,Busan,Chungbuk,Chungnam,Daegu,Daejeon,Gangwon,Gwangju,Gyeongbuk,Gyeonggi,Gyeongnam,...,Public Transportation,Recreation/Culture,Restaurants/Other Food Services,Sports/Recreation/Leisure,Supermarkets,Total_y,Transport,Travel Agencies/Vehicle Rental,Utility Charges/Personal and Professional Services,Watches/Jewellery/Eyeglasses
0,65720.939024,22184.695122,36158.878049,39996.487805,33057.304878,25659.634146,28536.182927,32917.170732,314721.658537,46736.609756,...,32734.444444,68272.888889,278732.638889,51242.416667,112289.277778,2.576979e+06,71521.888889,9886.750000,304904.583333,11563.500000
1,58316.329268,20166.695122,32416.792683,36101.975610,28892.097561,22555.890244,25716.878049,29990.000000,279927.353659,41541.414634,...,29217.166667,63405.722222,244062.472222,48143.527778,100494.194444,2.239546e+06,60300.472222,6687.472222,217737.861111,10776.500000
2,65152.390244,23454.073171,37933.402439,40482.597561,32526.756098,24441.256098,29822.768293,33914.914634,325625.682927,47236.524390,...,31389.944444,83193.277778,282787.694444,61444.916667,107276.166667,2.551792e+06,63685.861111,6863.583333,232540.638889,13070.944444
3,62292.292683,23164.560976,38254.109756,39204.634146,30890.195122,23605.951220,28260.621951,33332.243902,309090.000000,45992.414634,...,34478.805556,78617.555556,275171.194444,62634.277778,108647.666667,2.502460e+06,67069.277778,6987.916667,254839.277778,12127.833333
4,67221.414634,25279.524390,41590.585366,42040.304878,32854.134146,27166.231707,29775.243902,36401.768293,315194.914634,49964.024390,...,34988.138889,85897.194444,299865.055556,69837.750000,112953.277778,2.644259e+06,68138.333333,7479.027778,250810.833333,13351.472222
5,63978.012195,23906.024390,39063.219512,39304.902439,31093.426829,26061.317073,27894.341463,33771.548780,293738.512195,46881.548780,...,33249.861111,80692.750000,287106.000000,65324.250000,99149.500000,2.502650e+06,64317.888889,7000.138889,252590.694444,12469.861111
6,65928.243902,23976.426829,39502.829268,40154.402439,31744.353659,27750.085366,29798.292683,34544.256098,303225.182927,48213.597561,...,35624.166667,79530.222222,295702.166667,62983.972222,100246.361111,2.650129e+06,71357.805556,8688.083333,318562.916667,12119.305556
7,67194.439024,25020.353659,41288.195122,40381.475610,32891.780488,32349.621951,31378.682927,36455.670732,300047.024390,50072.402439,...,37843.444444,78408.888889,308041.027778,62131.805556,103629.333333,2.596419e+06,65445.055556,6866.500000,255197.861111,12347.416667
8,63130.121951,23874.609756,38877.512195,39604.097561,30166.329268,25375.170732,30494.670732,33644.280488,292069.317073,46142.243902,...,32327.861111,74615.888889,267599.194444,58713.388889,100994.250000,2.521418e+06,58343.277778,6668.111111,275684.666667,10657.305556
9,66912.878049,25158.975610,40846.890244,41466.231707,32403.707317,27419.719512,31226.134146,35391.975610,304811.780488,48862.695122,...,36223.722222,84370.000000,293837.222222,69013.250000,93479.861111,2.672350e+06,65794.611111,6653.444444,293081.277778,11385.416667
10,66734.743902,24850.024390,39953.804878,41663.536585,32348.158537,25602.158537,31497.097561,35000.317073,301580.256098,48391.097561,...,37334.222222,81133.000000,280461.111111,65433.722222,92941.027778,2.683400e+06,66754.388889,6508.250000,274371.805556,10575.916667
11,70311.451220,24524.719512,40229.768293,43567.000000,33555.829268,26616.829268,31923.000000,35519.439024,311114.780488,49816.304878,...,37745.555556,76937.305556,313868.222222,59342.472222,93192.305556,2.776061e+06,70983.777778,7596.472222,278682.694444,11551.250000
12,65983.926829,23686.109756,39082.695122,41658.402439,32444.414634,27073.317073,29868.975610,34869.317073,296960.756098,48310.548780,...,35534.055556,68023.500000,278086.555556,51516.416667,101873.277778,2.714468e+06,66927.583333,7024.166667,334635.555556,10998.777778
13,55350.292683,20575.963415,33900.853659,33657.243902,26682.012195,22038.682927,25130.548780,29137.573171,261214.304878,41808.439024,...,26015.083333,55941.194444,228100.805556,41191.166667,95879.666667,2.371614e+06,30858.083333,1781.166667,260993.361111,10091.194444
14,51811.573171,21238.439024,33786.817073,28004.817073,24474.426829,22264.743902,27726.682927,26693.426829,278364.268293,40818.024390,...,19232.750000,55556.888889,210637.722222,41560.805556,108042.416667,2.403801e+06,14574.583333,1291.583333,249503.416667,8875.694444
15,54440.768293,21904.280488,35678.573171,31483.512195,26415.146341,23026.658537,27742.865854,29167.621951,293486.304878,42371.512195,...,22670.555556,65412.555556,233888.111111,50911.944444,99902.361111,2.472319e+06,22251.472222,1556.277778,264459.527778,9488.361111
16,64460.390244,25079.792683,42042.036585,38795.926829,30380.231707,27677.256098,31080.207317,35173.243902,328138.073171,49167.085366,...,25413.555556,84069.250000,286965.444444,68019.916667,102274.000000,2.690723e+06,28953.833333,1790.722222,255160.972222,12636.583333
17,55944.024390,25253.658537,43386.524390,38308.353659,26594.536585,26181.195122,29655.914634,32759.182927,320408.390244,46606.146341,...,27268.722222,75680.555556,262095.583333,60965.833333,96052.222222,2.663266e+06,31304.166667,1795.472222,264621.000000,10638.916667
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [325]:
df_eco = df_eco.drop(18)

In [326]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 5)
X = pca.fit_transform(df_eco.iloc[:,34:-2])
df_eco = pd.concat([df_eco.iloc[:, -2:], df_eco.iloc[:, :34], pd.DataFrame(X, columns = ['pca_1',  'pca_2', 'pca_3', 'pca_4', 'pca_5'])], axis = 1)

In [328]:
meta = pd.read_excel(os.path.join('..', '..', '0.Data', '01_제공데이터', '수작업_meta.xlsx'))

In [329]:
meta

,상품코드,상품명,상품군,판매단가,결제방법,상품명다시,단위,브랜드,옵션,모델명,성별,NEW상품명,NEW상품코드,마더코드,NS카테고리
0,200944,[가이거] 블랙 에디션 다이아몬드 워치(남성용),잡화,178000,0,남성 블랙 에디션 다이아몬드 워치,NaN,가이거,NaN,NaN,1,가이거 남성 블랙 에디션 다이아몬드 워치,0,100292,쥬얼리/시계
1,200942,[가이거] 블랙 에디션 다이아몬드 워치(남성용),잡화,178000,0,남성 블랙 에디션 다이아몬드 워치,NaN,가이거,NaN,NaN,1,가이거 남성 블랙 에디션 다이아몬드 워치,0,100292,쥬얼리/시계
2,200948,무이자[가이거] 무빙스타 다이아몬드 워치,잡화,129000,2,무빙스타 다이아몬드 워치,NaN,가이거,NaN,NaN,0,가이거 무빙스타 다이아몬드 워치,1,100293,쥬얼리/시계
3,200951,일시불[가이거] 무빙스타 다이아몬드 워치,잡화,119000,1,무빙스타 다이아몬드 워치,NaN,가이거,NaN,NaN,0,가이거 무빙스타 다이아몬드 워치,1,100293,쥬얼리/시계
4,200946,[무이자] 가이거 무빙스타 다이아몬드 워치+보석함,잡화,119000,2,무빙스타 다이아몬드 워치 + 보석함,NaN,가이거,NaN,NaN,0,가이거 무빙스타 다이아몬드 워치 + 보석함,2,100293,쥬얼리/시계
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2037,200013,AAB의 든든한 콩국수,농수축,39900,0,AAB의 든든한 콩국수,NaN,NaN,NaN,NaN,0,AAB의 든든한 콩국수,1359,100009,라면/면/스프
2038,200014,AAB의 소곱창전골 800g x 8팩,농수축,55900,0,AAB의 소곱창 전골,"800g, 8팩",NaN,NaN,NaN,0,AAB의 소곱창 전골 800g 8팩,1360,100010,탕/국/찌개
2039,200033,AAE LA갈비 7팩,농수축,69900,0,AAE LA 갈비,7팩,NaN,NaN,NaN,0,AAE LA 갈비 7팩,1361,100022,축산
2040,202115,IH 옛 가마솥 세트,주방,62000,0,IH 옛 가마솥 세트,NaN,NaN,NaN,NaN,0,IH 옛 가마솥 세트,1362,100724,주방용품/식기
2041,201284,OK 근육통완화 동전패치,생활용품,39900,0,OK 근육통 완화 동전패치,NaN,NaN,NaN,NaN,0,OK 근육통 완화 동전패치,1363,100400,건강/안마/실버