In [1]:
import os
import sys
import joblib
import FE_0823 as FE
import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
sale = pd.read_excel(os.path.join('..', '0.Data', '01_제공데이터', 'sale_data_v04_0823.xlsx'))
meta = pd.read_excel(os.path.join('..', '0.Data', '01_제공데이터', 'sale_meta_v04_0823.xlsx'))
item = pd.read_excel(os.path.join('..', '0.Data', '01_제공데이터', 'item_meta_v03_0823.xlsx'))

In [15]:
sale = sale.merge(meta[['NEW상품명', '상품명다시']].drop_duplicates('NEW상품명'), on = 'NEW상품명', how = 'left')

In [18]:
sale = sale[['방송일시', '노출(분)', '마더코드', '상품코드', '상품명', '상품군', '판매단가', '취급액', 'NEW상품코드', 'NEW상품명', '결제방법', '옵션', '종류', '브랜드', '상품명다시', '단위']]

In [22]:
item = item.merge(meta[['NEW상품명', '상품명다시', '브랜드', '단위']].drop_duplicates('NEW상품명'), on = 'NEW상품명', how = 'left')

In [24]:
sale.to_excel(os.path.join('..', '0.Data', '01_제공데이터', 'sale_data_v05_0828.xlsx'), index = False)
item.to_excel(os.path.join('..', '0.Data', '01_제공데이터', 'item_meta_v04_0828.xlsx'), index = False)

In [25]:
item

,NEW상품코드,NEW상품명,상품군,NEW_최고판매단가,NEW_최저판매단가,NEW_평균판매단가,NEW_중간판매단가,NEW_최고-최저,NEW_분산,NEW_표준편차,상품군_가격대,전체_가격대,상품명다시,브랜드,단위
0,0,가이거 남성 블랙 에디션 다이아몬드 워치,잡화,178000,178000,178000.0,178000,0,0.0,0.000000,1,3,남성 블랙 에디션 다이아몬드 워치,가이거,NaN
1,1,가이거 무빙스타 다이아몬드 워치,잡화,129000,119000,124000.0,124000,10000,50000000.0,7071.067812,1,3,무빙스타 다이아몬드 워치,가이거,NaN
2,2,가이거 무빙스타 다이아몬드 워치 + 보석함,잡화,119000,99000,109000.0,109000,20000,200000000.0,14142.135624,1,3,무빙스타 다이아몬드 워치 + 보석함,가이거,NaN
3,3,가이거 여성 블랙 에디션 다이아몬드 워치,잡화,178000,178000,178000.0,178000,0,0.0,0.000000,1,3,여성 블랙 에디션 다이아몬드 워치,가이거,NaN
4,4,가이거 제니스시계 주얼리세트,잡화,139000,129000,134000.0,134000,10000,50000000.0,7071.067812,1,3,제니스시계 주얼리세트,가이거,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1359,1359,AAB의 든든한 콩국수,농수축,39900,39900,39900.0,39900,0,0.0,0.000000,0,0,AAB의 든든한 콩국수,NaN,NaN
1360,1360,AAB의 소곱창 전골 800g 8팩,농수축,55900,55900,55900.0,55900,0,0.0,0.000000,2,1,AAB의 소곱창 전골,NaN,"800g, 8팩"
1361,1361,AAE LA 갈비 7팩,농수축,69900,69900,69900.0,69900,0,0.0,0.000000,2,2,AAE LA 갈비,NaN,7팩
1362,1362,IH 옛 가마솥 세트,주방,62000,62000,62000.0,62000,0,0.0,0.000000,0,2,IH 옛 가마솥 세트,NaN,NaN
1363,1363,OK 근육통완화 동전패치,생활용품,39900,39900,39900.0,39900,0,0.0,0.000000,0,0,OK 근육통완화 동전패치,NaN,NaN